<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/main/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>손말톡톡</title>
<style>
.owl-carousel-item {
	height: 400px; /* 원하는 높이로 설정하세요 */
}

.owl-carousel-item img {
	height: 100%;
	object-fit: cover; /* 이미지를 잘라내지 않고 채웁니다 */
}
</style>
</head>
<body>
	<div class="container-fluid p-0 mb-5"> 
		<div class="owl-carousel header-carousel position-relative">
			<div class="owl-carousel-item position-relative">
				<img class="img-fluid" th:src="@{/main/img/carousel-1.jpg}" alt="">
				<div
					class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
					style="background: rgba(24, 29, 56, .7);">
					<div class="container">
						<div class="row justify-content-start">
							<div class="col-sm-10 col-lg-8">
								<h5
									class="text-primary text-uppercase mb-3 animated slideInDown">Best
									Online Courses</h5>
								<h1 class="display-3 text-white animated slideInDown">The
									Best Online Learning Platform</h1>
								<p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita
									lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et
									diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
								<a href=""
									class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read
									More</a> <a href=""
									class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join
									Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="owl-carousel-item position-relative">
				<img class="img-fluid" th:src="@{/main/img/carousel-2.jpg}" alt="">
				<div
					class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
					style="background: rgba(24, 29, 56, .7);">
					<div class="container">
						<div class="row justify-content-start">
							<div class="col-sm-10 col-lg-8">
								<h5
									class="text-primary text-uppercase mb-3 animated slideInDown">Best
									Online Courses</h5>
								<h1 class="display-3 text-white animated slideInDown">Get
									Educated Online From Your Home</h1>
								<p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita
									lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et
									diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
								<a href=""
									class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read
									More</a> <a href=""
									class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join
									Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Carousel End -->
	<div class="container">
		<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
			<div class="container py-5 mb-5">
				<div class="bg-white">
					<div class="owl-carousel vendor-carousel">
						<img th:src="@{/main/img/cccc.jpg}" alt=""> <img
							th:src="@{/main/img/cccc.jpg}" alt=""> <img
							th:src="@{/main/img/cccc.jpg}" alt=""> <img
							th:src="@{/main/img/cccc.jpg}" alt=""> <img
							th:src="@{/main/img/cccc.jpg}" alt=""> <img
							th:src="@{/main/img/cccc.jpg}" alt=""> <img
							th:src="@{/main/img/cccc.jpg}" alt=""> <img
							th:src="@{/main/img/cccc.jpg}" alt=""> <img
							th:src="@{/main/img/cccc.jpg}" alt=""> <img
							th:src="@{/main/img/cccc.jpg}" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 mb-4 d-flex">
				<div class="job-card card">
					<div class="card-body">
						<h5 class="card-title">유안타증권</h5>
						<p class="card-text">IT본부 경력직 모집</p>
						<p class="card-text">경력</p>
						<p class="card-text">(~08/01)</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4 d-flex">
				<div class="job-card card">
					<div class="card-body">
						<h5 class="card-title">유안타증권</h5>
						<p class="card-text">IT본부 경력직 모집</p>
						<p class="card-text">경력</p>
						<p class="card-text">(~08/01)</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4 d-flex">
				<div class="job-card card">
					<div class="card-body">
						<h5 class="card-title">유안타증권</h5>
						<p class="card-text">IT본부 경력직 모집</p>
						<p class="card-text">경력</p>
						<p class="card-text">(~08/01)</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4 d-flex">
				<div class="job-card card">
					<div class="card-body">
						<h5 class="card-title">유안타증권</h5>
						<p class="card-text">IT본부 경력직 모집</p>
						<p class="card-text">경력</p>
						<p class="card-text">(~08/01)</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4 d-flex">
				<div class="job-card card">
					<div class="card-body">
						<h5 class="card-title">유안타증권</h5>
						<p class="card-text">IT본부 경력직 모집</p>
						<p class="card-text">경력</p>
						<p class="card-text">(~08/01)</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4 d-flex">
				<div class="job-card card">
					<div class="card-body">
						<h5 class="card-title">유안타증권</h5>
						<p class="card-text">IT본부 경력직 모집</p>
						<p class="card-text">경력</p>
						<p class="card-text">(~08/01)</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4 d-flex">
				<div class="job-card card">
					<div class="card-body">
						<h5 class="card-title">유안타증권</h5>
						<p class="card-text">IT본부 경력직 모집</p>
						<p class="card-text">경력</p>
						<p class="card-text">(~08/01)</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4 d-flex">
				<div class="job-card card">
					<div class="card-body">
						<h5 class="card-title">유안타증권</h5>
						<p class="card-text">IT본부 경력직 모집</p>
						<p class="card-text">경력</p>
						<p class="card-text">(~08/01)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>