<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/ad_layout}"  layout:fragment="Content">

 <div class="right_col" role="main">
          <div class="">

            <div class="page-title">
              <div class="title_left">
                <h3>기업 가입신청서<small>(승인,거절 메일발송)</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-9">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>상세 정보 확인<small>복지내용</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">

                      <!-- / LIST -->
                      
                      <div class="col-sm-9 mail_view">
                        <div class="inbox-body">
                          <div class="mail_heading row">
                            <div class="col-md-8">
                              <div class="btn-group">
                                <button class="btn btn-sm btn-primary" type="button"  th:onclick="|location.href='@{/admin/approve}'|">목록으로</button>
                              </div>
                            </div>
                            <div class="col-md-4 text-right">
                              <p class="date"> ======</p>
                            </div>
                            <div class="col-md-12">
								<div><button class="btn btn-warning" th:if="${detail.authority == 'ROLE_TEMP'}" th:text="미승인"></button>
                          				<button class="btn btn-success" th:if="${detail.authority == 'ROLE_CO_USER'}" th:text="승인"></button>
                          				<button class="btn btn-danger" th:if="${detail.authority == 'ROLE_CO_REFUSE'}" th:text="거절"></button>
                          		</div>
                              <h4> < 사업자등록번호 :  [[ ${detail.coRegNo} ]] ></h4>
                              <p>=======</p>
                            </div>
                          </div>
                          <div class="view-mail">
                            <strong>복지 내용 들어갈 자리</strong>
                            <div><strong>기업명 : </strong>[[ ${detail.coName} ]]</div>
                            <div><strong>기업회원번호 : </strong>[[ ${detail.coUserNo} ]]</div>
                            <div><strong>업종 : </strong>[[ ${detail.industry} ]]</div>
                            <div><strong>대표자 : </strong>[[ ${detail.repName} ]]</div>
                            <div><strong>설립연도 : </strong>[[ ${detail.estYear} ]]</div>
                            <div><strong>기본주소 : </strong>[[ ${detail.coAddr} ]]</div>
                            <div><strong>주요사업 : </strong>[[ ${detail.mainBusiness} ]]</div>
                            <div><strong>행정구역 : </strong>[[ ${detail.region} ]]</div>
                            <div><strong>기타사항 : </strong>[[ ${detail.etc} ]]</div>
                            <div><strong>기업아이디 : </strong>[[ ${detail.coUserId} ]]</div>
                            <div><strong>담당자 이름 : </strong>[[ ${detail.mgrName} ]]</div>
                            <div><strong>담당자 이메일 : </strong>[[ ${detail.mgrEmail} ]]</div>
                            <div><strong>담당자 연락처 : </strong>[[ ${detail.mgrTel} ]]</div>
                          </div>
                          <hr>
	                                                
						<!--  -->
						<div class="modal" tabindex="-1">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title">전송할 회원</h5>
					                  <button type="button" class="close" data-dismiss="modal">&times;</button>
						      </div>
						      <div class="modal-body">
						        <p></p>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-primary" th:onclick="confirmAndSendSms()">전송하기</button>
				         		 <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
						      </div>
						    </div>
						  </div>
						</div>
				
                          <div class="attachment">
                            <p>
                              <span><i class="fa fa-paperclip"></i> 3 attachments — </span>
                              <a href="#">Download all attachments</a> |
                              <a href="#">View all images</a>
                            </p>
                            <ul>
                              <li th:each="file : ${file}">
	                                <div class="links">
	                                바로보기 :
	                                <br> 
	                                  <a th:href="@{/images/{fileName}(fileName=${file.filePath})}" class="atch-thumb"> [[${file.fileName}]]</a>
	                                </div>
                              </li>

                            </ul>
                          </div>
                          <div class="btn-group">
                            <form action="/admin/approve/sendMail" method="post">
							    <input type="hidden" id="coUserNoField" name="coUserNo" />
							    <button type="submit" class="btn btn-sm btn-success">메일 보내기</button>
							</form>
	                         <div th:if="${detail.authority} == 'ROLE_TEMP'">
							    <button class="btn btn-sm btn-primary" type="button"
							            th:onclick="|location.href='@{/admin/approve/confirm(coUserNo=${detail.coUserNo})}'|">
							        승인하기
							    </button>
							    
							    <button class="btn btn-sm btn-danger" type="button"
							            th:onclick="|location.href='@{/admin/approve/refusejoin(coUserNo=${detail.coUserNo})}'|">
							        거절하기
							    </button>
							</div>

                          </div>
                        </div>

                      </div>
                      <!-- /CONTENT MAIL -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>      
        

<script  th:inline="javascript">

    document.getElementById('coUserNoField').value = /*[[${detail.coUserNo}]]*/ '0';

    $('#mymodal').on('click',function(){
		$('.modal').modal()
	})
	$('.btn-close').on('click',function(){
		$('.modal').hide();
	})
	


	let wid = /*[[${detail.coRegNo}]]*/
		
	  function confirmAndSendSms() {
	        if (confirm("정말 보내시겠습니까?")) {
	            // 서버로 문자 전송 요청을 보냅니다.
	            fetch('/admin/sendmsg', {
	                method: 'GET'
	            })
	            .then(response => {
	            	console.log(response);
	                if (response.ok) {
	                    alert("정말 전송되었습니다.");
	                    window.location.href ='http://localhost:8080/admin/sendmany?wid='+ wid;
	                } else {
	                    alert("문자 전송에 실패했습니다.");
	                }
	            })
	            .catch(error => {
	                console.error('Error:', error);
	                alert("문자 전송 중 오류가 발생했습니다.");
	            });
	        }
	    }


	
	</script>
	
	
</html>
