<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/ad_layout}"  layout:fragment="Content">


 <div class="right_col" role="main">
          <div class="">

            <div class="page-title">
              <div class="title_left">
                <h3>채용등록서<small>(승인,거절,미승인)</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-9">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>채용등록서 상세<small>공고등록</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">

                      <!-- / LIST -->
                      
                      <div class="col-sm-9 mail_view">
                        <div class="inbox-body">
                          <div class="mail_heading row">
                            <div class="col-md-8">
                              <div class="btn-group">
                                <button class="btn btn-sm btn-primary" type="button"  th:onclick="|location.href='@{/admin/approve/postlist}'|">목록으로</button>
                                <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash"><i class="fa fa-trash-o"></i></button>
                              </div>
                            </div>
                            <div class="col-md-4 text-right">
                              <p class="date"> 작성 일자 들어갈 자리</p>
                            </div>
                            <div class="col-md-12">
								<div>
                    				     <button th:if="${detail.postingApprove == '승인' }" class="btn btn-success" >[[${detail.postingApprove}]]</button>
                          				<button th:if="${detail.postingApprove == '미승인' }" class="btn btn-warning" >[[${detail.postingApprove}]]</button>
                          				<button th:if="${detail.postingApprove == '거절' }" class="btn btn-danger" >[[${detail.postingApprove}]]</button>
                          		</div>
                              <h4> <  [[ ${detail.postingNo} ]] ></h4>
                              <p>서비스ID : [[ ${detail.coName} ]]</p>
                            </div>
                          </div>
                          <div class="view-mail">
                            <strong>채용공고 내용</strong>
                            <div><strong>근무지역 : </strong>[[ ${detail.workRegion} ]]</div>
                            <div><strong>모집기간 시작일 : </strong>[[ ${#dates.format(detail.startDate,'yyyy-MM-dd')} ]]</div>
                            <div><strong>모집기간 마감일 : </strong>[[ ${#dates.format(detail.endDate,'yyyy-MM-dd')} ]]</div>
                            <div><strong>업종 : </strong>[[ ${detail.job} ]]</div>
                            <div><strong>연령 : </strong>[[ ${detail.age} ]]</div>
                            <div><strong>성별 : </strong>[[ ${detail.gender} ]]</div>
                            <div><strong>고용형태 : </strong>[[ ${detail.empType} ]]</div>
                            <div><strong>근무시간 일 : </strong>[[ ${detail.workDay} ]]</div>
                            <div><strong>근무시간 : </strong>[[ ${detail.workTime} ]]</div>
                            <div><strong>급여 : </strong>[[ ${detail.sal} ]]</div>
                            <div><strong>모집인원 : </strong>[[ ${detail.party} ]]</div>
                            <div><strong>근무내용 : </strong>[[ ${detail.workContent} ]]</div>
                            <div><strong>기타내용 : </strong>[[ ${detail.etcContent} ]]</div>
                            <div><strong>우대사항 : </strong>[[ ${detail.priContent} ]]</div>
                            <div><strong>기업회원번호 : </strong>[[ ${detail.coUserNo} ]]</div>
                            <div><strong>공고 제목 : </strong>[[ ${detail.postingTitle} ]]</div>
                            <div><strong>출근시간 : </strong>[[ ${detail.workTimeStart} ]]</div>
                            <div><strong>퇴근시간 : </strong>[[ ${detail.workTimeEnd} ]]</div>
                          </div>
                          <hr>
                          
                          <div class="attachment">
                            <p>
                              <span><i class="fa fa-paperclip"></i> 3 attachments — </span>
                              <a href="#">Download all attachments</a> |
                              <a href="#">View all images</a>
                            </p>
                            <ul>
                              <li th:each="file : ${file}">
	                                <div class="links">
	                                바로보기 :
	                                <br> 
	                                  <a th:href="@{/images/{fileName}(fileName=${file.filePath})}" class="atch-thumb"> [[${file.fileName}]]</a>
	                                </div>
                              </li>

                            </ul>
                          </div>
                          <div class="btn-group" th:if="${detail.postingApprove} == '미승인'">
                            <!-- <button class="btn btn-sm btn-primary" type="button" th:onclick="confirmAndSendSms()">문자전송</button> -->
                            <button class="btn btn-sm btn-primary" type="button" th:onclick="|location.href='@{/admin/approve/postingok(postingNo=${detail.postingNo})}'|">승인하기</button>
                            <button class="btn btn-sm btn-danger" type="button" th:onclick="|location.href='@{/admin/approve/noposting(postingNo=${detail.postingNo})}'|">거절하기</button>
                          </div>
                        </div>

                      </div>
                      <!-- /CONTENT MAIL -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


<script  th:inline="javascript">
	
	let wid = /*[[${detail.postingNo}]]*/
		
	  function confirmAndSendSms() {
	        if (confirm("정말 보내시겠습니까?")) {
	            // 서버로 문자 전송 요청을 보냅니다.
	            fetch('/admin/sendmsg', {
	                method: 'GET'
	            })
	            .then(response => {
	            	console.log(response);
	                if (response.ok) {
	                    alert("정말 전송되었습니다.");
	                    window.location.href ='http://localhost:8080/admin/sendmany?wid='+ wid;
	                } else {
	                    alert("문자 전송에 실패했습니다.");
	                }
	            })
	            .catch(error => {
	                console.error('Error:', error);
	                alert("문자 전송 중 오류가 발생했습니다.");
	            });
	        }
	    }
	</script>
	
	


</html>