<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/ad_layout}"  layout:fragment="Content">


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>일반회원 목록<small>조회</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>일반회원 조회 <small>Administer</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                	<div>
                	</div>
                    <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <th>번호</th>
                          <th>회원아이디</th>
                          <th>이메일</th>
                          <th>시도</th>
                          <th>가구상황</th>
                          <th>관심주제</th>
                          <th>문자 수신상태</th>
                        </tr>
                      </thead>
                      <tbody>
                      <th:block th:each="list : ${ulist}">
                        <!-- <tr th:onclick="|location.href='@{/admin/detail(wid=${wel.wid})}'|"> -->
                        <tr>
                          <td>[[ ${ list.userNo}]]</td>
                          <td>[[ ${list.userId}]]</td>
                          <td>[[ ${list.email}]]</td>
                          <td>[[ ${list.sido}]]</td>
                          <td>[[ ${list.household}]]</td>
                          <td>[[ ${list.likeSubject}]]</td>
                          <td>[[ ${list.receive}]]</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
                </div>
              </div>

            </div>
          </div>
        



</html>