<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{common/main/layouts/comypage_layout}"
            layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h3>채용공고 등록</h3>
		<form th:action="@{/copostingInsert}" method="post" name="insertForm">
			<table>
			<tr>
				<td><input type="hidden" name="coUserNo"></td>
			</tr>
			<tr>
				<th>업체명</th>
				<td><input type="text" name="coName"></td>
			</tr>
			<tr>
				<th>근무지역</th>
				<td><input type="text" name="workRegion"></td>
			</tr>
			<tr>
				<th>모집기간</th>
				<td>
				<input type="date" name="startDate">
				<input type="date" name="endDate">
				</td>
			</tr>
			
			<tr>
				<th>업종</th>
				<td><input type="text" name="job"></td>
			</tr>
			<tr>
				<th>연령</th> 
				<td><input type="text" name="age"></td>
			</tr>
			<tr>
				<th>성별</th>
				<td><input type="text" name="gender"></td>
			</tr>
			<tr>
				<th>고용형태</th>
				<td><input type="text" name="empType"></td>
			</tr>
			<tr>
				<th>근무일</th>
				<td><input type="text" name="workDay"></td>
			</tr>
			<tr>
				<th>근무시간</th>
				<td><input type="text" name="workTime"></td>
			</tr>
			<tr>
				<th>급여</th>
				<td><input type="text" name="sal"></td>
			</tr>
			<tr>
				<th>모집인원</th>
				<td><input type="text" name="party"></td>
			</tr>
			<tr>
				<th>근무내용</th>
				<td><textarea name="workContent"></textarea></td>
			</tr>
			<tr>
				<th>우대사항</th>
				<td><textarea name="etcContent"></textarea></td>
			</tr>
			<tr>
				<th>추가내용</th>
				<td><textarea name="priContent"></textarea></td>
			</tr>
		</table>
			<button type="submit">등록</button>
		</form>
	</div>
</body>
</html>