<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/main/layouts/comypage_layout}" layout:fragment="Content">

<head>
    <meta charset="UTF-8">
    <title>이력서 관리</title>
    <style>
        .resume-container {
            max-width: 800px;
            margin: 50px auto;
            border: 2px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            background-color: #f7f7f7;
        }

        .header {
            background-color: #e2e3e5;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
        }

        .profile-image {
            width: 150px;
            height: 200px;
            border: 2px solid #ccc;
            background-size: cover;
            background-position: center;
            margin: 10px;
        }

        .prorileImg {
            width: 100%;
            height: 100%;
        }

        .section-title {
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .table thead th {
            font-weight: bold;
            background-color: #e2e3e5;
        }

        .table-bordered td,
        .table-bordered th {
            vertical-align: middle;
        }
        
        .swal2-actions {
        flex-direction: row-reverse !important; /* 버튼의 위치를 변경 */
	    }
	
	    .swal2-confirm, .swal2-cancel {
	        margin: 0 5px; /* 버튼 사이의 간격 조정 */
	    }
    </style>

    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
    <div class="resume-container">
        <div class="header">
            <p th:text="${resume.resumeTitle}">홍길동의 이력서입니다</p>
        </div>

        <div class="section-title">기본 정보</div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td rowspan="5" style="width: 120px; text-align: center;">
                        <div th:if="${resume.resumeImg} == null" class="profile-image" style="background-image: url('/main/img/profile-image.png');"></div>
                        <div th:if="${resume.resumeImg} != null" class="profile-image">
                            <img alt="" th:src="@{/images/{fileName}(fileName=${profile.filePath})}" class="prorileImg">
                        </div>
                    </td>
                    <th>이름</th>
                    <td th:text="${resume.resumeName}">홍길동</td>
                </tr>
                <tr>
                    <th>생년월일</th>
                    <td th:text="${#dates.format(resume.birth, 'yyyy/MM/dd')}">1958-08-06</td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td th:text="${resume.addr}">대구광역시 중구 중앙대로 403 504호</td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td th:text="${resume.tel}" data-phone="${resume.tel}">010-4212-4800</td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td th:text="${resume.email}">hong@email.com</td>
                </tr>
            </tbody>
        </table>

        <div class="section-title">학력사항</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>학교명</th>
                    <th>전공</th>
                    <th>졸업년월</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:if="${!#lists.isEmpty(resume.edus)}" th:each="edu : ${resume.edus}">
                    <tr>
                        <td th:text="${edu.school}">OO대학교</td>
                        <td th:text="${edu.major}">컴퓨터공학</td>
                        <td th:text="${#dates.format(edu.graduation, 'yyyy-MM')}">1980/02</td>
                    </tr>
                </th:block>
                <th:block th:if="${#lists.isEmpty(resume.edus)}">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <div class="section-title">경력사항</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>근무처</th>
                    <th>직위/업무내용</th>
                    <th>시작일</th>
                    <th>종료일</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:if="${!#lists.isEmpty(resume.careers)}" th:each="career : ${resume.careers}">
                    <tr>
                        <td th:text="${career.workPlace}">OO회사</td>
                        <td th:text="${career.role}">개발팀장 / 소프트웨어 개발</td>
                        <td th:text="${#dates.format(career.careerStart, 'yyyy/MM/dd')}">1980-03-01</td>
                        <td th:text="${#dates.format(career.careerEnd, 'yyyy-MM-dd')}">1990-06-30</td>
                    </tr>
                </th:block>
                <th:block th:if="${#lists.isEmpty(resume.careers)}">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <div class="section-title">보유기술/자격증</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>취득일</th>
                    <th>자격증명</th>
                    <th>시행처</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:if="${!#lists.isEmpty(resume.licenses)}" th:each="license : ${resume.licenses}">
                    <tr>
                        <td th:text="${#dates.format(license.getDate, 'yyyy/MM/dd')}">1982-05-01</td>
                        <td th:text="${license.licenseName}">정보처리기사</td>
                        <td th:text="${license.licenseCompany}">한국산업인력공단</td>
                    </tr>
                </th:block>
                <th:block th:if="${#lists.isEmpty(resume.licenses)}">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <hr>
        <div class="section-title">자기소개</div>
        <p th:utext="${#strings.escapeXml(resume.produce)}" style="white-space: pre-wrap; border: 1px #e2e3e5 solid"></p>

        <div class="text-end">
            <button type="button" onclick="showConfirmation()">합격</button>
            <button type="button" onclick="showRejectionConfirmation()">불합격</button>
            <button type="button" class="btn btn-secondary" th:onclick="goList()">목록</button>
        </div>
    </div>

    <!-- SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <!-- 문자메세지 발송 테스트 -->
    <script type="text/javascript">
    function showConfirmation() {
        Swal.fire({
            title: '해당 지원자를 채용하시겠습니까?',
            text: '‘예’ 선택 시 해당 지원자에게 채용여부를 문자로 발송합니다',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '네',
            cancelButtonText: '아니오',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                var phoneNumber = extractPhoneNumber();
                if (phoneNumber) {
                    sendSuccessSms(phoneNumber).then(() => {
                        Swal.fire('채용되었습니다!', '', 'success');
                    }).catch(() => {
                        Swal.fire('문자 발송 실패', '', 'error');
                    });
                } else {
                    Swal.fire('전화번호를 찾을 수 없습니다.', '', 'error');
                }
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire('취소되었습니다', '', 'info');
            }
        });
    }

    function showRejectionConfirmation() {
        Swal.fire({
            title: '해당 지원자를 불합격 처리하시겠습니까?',
            text: '‘예’ 선택 시 해당 지원자에게 불합격 문자를 발송합니다',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '네',
            cancelButtonText: '아니오',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                var phoneNumber = extractPhoneNumber();
                if (phoneNumber) {
                    sendFailureSms(phoneNumber).then(() => {
                        Swal.fire('불합격 처리되었습니다!', '', 'success');
                    }).catch(() => {
                        Swal.fire('문자 발송 실패', '', 'error');
                    });
                } else {
                    Swal.fire('전화번호를 찾을 수 없습니다.', '', 'error');
                }
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire('취소되었습니다', '', 'info');
            }
        });
    }

    function extractPhoneNumber() {
        const phoneNumberElement = document.querySelector('td[data-phone]');
        if (phoneNumberElement) {
            const phoneNumber = phoneNumberElement.textContent.trim();
            return phoneNumber;
        }
        return '';
    }

    async function sendSuccessSms(phoneNumber) {
        try {
            const response = await fetch('/send-success-sms', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ phoneNumber })
            });

            if (!response.ok) {
                throw new Error('문자 발송 요청 실패');
            }

            return await response.json();
        } catch (error) {
            console.error('Error in sendSuccessSms:', error);
            throw error;
        }
    }

    async function sendFailureSms(phoneNumber) {
        try {
            const response = await fetch('/send-failure-sms', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ phoneNumber })
            });

            if (!response.ok) {
                throw new Error('문자 발송 요청 실패');
            }

            return await response.json();
        } catch (error) {
            console.error('Error in sendFailureSms:', error);
            throw error;
        }
    }

    function goList() {
        location.href = `/copostingList`;
    }
    </script>
</body>

</html>
