<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/main/layouts/comypage_layout}" layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>이력서 상세조회</title>
    <style>

        /* 카드 바디 스타일 */
        .card-body {
            padding: 20px;
        }

        /* 테이블 스타일 */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 12px;
            border: none; /* 테두리 제거 */
            text-align: center;
        }

        th {
            background-color: #f8f9fa;
        }

        
    </style>
</head>
<body>
    <div>
        <!-- 1. 회사에 제출한 이력서 -->
        <div>
            <h3>이력서 조회</h3>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>이력서번호</th>
                            <th>지원회사</th>
                            <th>이력서 제목</th>
                            <th>지원일자</th>
                            <th>채용여부</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="coresume : ${coresume}">
                            <input type="hidden" th:value="${coresume.resumeNo}">
                            <tr th:onclick="|location.href='@{/coresumeinfo/{resumeNo}(resumeNo=${coresume.resumeNo})}'|">
                                <td th:text="${coresume.resumeNo}"></td>
                                <td th:text="${coresume.coName}"></td>
                                <td th:text="${coresume.resumeTitle}"></td>
                                <td th:text="${#dates.format(coresume.applyDate, 'yyyy-MM-dd')}"></td>
                                <td th:text="${coresume.resultNm}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</body>
</html>
