<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/main/layouts/comypage_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴</title>
</head>
<body>
    <div class="container">
        <h1>회원 탈퇴</h1>
        <form action="/couserdelete" method="post">
            <input type="hidden" name="coUserId" th:value="${coUserId}">
            <button type="submit">탈퇴하기</button>
        </form>
    </div>
</body>
</html>
