<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/main/layouts/mypage_layout}" layout:fragment="Content">
<head>
	<meta charset="UTF-8">
	<title>이력서 등록</title>
	<style>
		.resume-container {
			max-width: 800px;
			margin: 50px auto;
			border: 2px solid #ccc;
			padding: 20px;
			border-radius: 10px;
			background-color: #f7f7f7;
		}

		.header {
			background-color: #e2e3e5;
			padding: 10px;
			border-radius: 5px;
			text-align: center;
			font-weight: bold;
		}

		.profile-image {
			width: 150px;
			height: 200px;
			border: 2px solid #ccc;
			background-size: cover;
			background-position: center;
			margin: 10px;
		}

		.prorileImg {
			width: 100%;
			height: 100%;
		}

		.section-title {
			font-weight: bold;
			margin-top: 20px;
			margin-bottom: 10px;
		}

		.table thead th {
			font-weight: bold;
			background-color: #e2e3e5;
		}

		.table-bordered td,
		.table-bordered th {
			vertical-align: middle;
		}

		.form-control {
			width: 100%;
		}
		
		.tuto {
			text-align:center;
		}
		
		.tutoBtn {
			border-radius:10px;
			border:none;
			font-weight:bold;
			background-color:#06bbcc;
			padding:10px;
		}
		
		.tutoModal{
			width:250px;
			height:fit-content;
			margin-top:200px;
			margin-left:120px;
			border:2px solid black;
			border-radius:20px;
			background-color:white;
			position:fixed;
			display:none;
			z-index:9999;
			right:100px;
		}
		
		.tutoCloseBtn{
			display:flex;
			margin-left:215px;
			background-color: transparent;
			border:0;
			font-size:20px;
			padding-top:10px;
		}
		
		.tip{
			color:black;
			padding:15px;
			text-align:center;
		}
		.voiceBtn {
			margin:auto;
			text-align:center;
			padding-bottom:20px;
		}
		
		.voicePlayBtn, .voiceStopBtn{
			padding:10px;
			margin:5px;
		}
		
		.voicePlayBtn{
			background-color:#007bff;
			color:white;
			border:none;
			border-radius:10px;
		}
		
		.voiceStopBtn{
			background-color:none;
			color:black;
			border:none;
			border-radius:10px;
		}
		
		/* 모달창 전체 스타일 */
		.modal {
		  display: none; /* 기본적으로 모달창을 숨깁니다. */
		  position: fixed; /* 화면에 고정되도록 합니다. */
		  z-index: 1; /* 다른 콘텐츠 위에 표시되도록 합니다. */
		  left: 0;
		  top: 0;
		  width: 100%; /* 전체 화면 너비 */
		  height: 100%; /* 전체 화면 높이 */
		  overflow: auto; /* 내용이 넘칠 경우 스크롤 가능 */
		  background-color: rgb(0,0,0); /* 배경색: 검정색 */
		  background-color: rgba(0,0,0,0.4); /* 배경 투명도 설정 */
		}
		
		/* 모달창 콘텐츠 박스 스타일 */
		.modal-content {
		  background-color: #fefefe; /* 콘텐츠 배경색: 흰색 */
		  margin: 15% auto; /* 위에서 15% 떨어지게 하고 중앙 정렬 */
		  padding: 20px; /* 내부 여백 */
		  border: 1px solid #888; /* 테두리 색상 */
		  width: 80%; /* 콘텐츠 너비: 화면의 80% */
		  max-width: 600px; /* 최대 너비 600px */
		  border-radius: 5px; /* 모서리 둥글게 */
		}
		
		/* 닫기 버튼 스타일 */
		.close {
		  color: #aaa; /* 버튼 색상: 회색 */
		  float: right; /* 오른쪽 정렬 */
		  font-size: 28px; /* 글자 크기 */
		  font-weight: bold; /* 글자 굵게 */
		}
		
		.close:hover,
		.close:focus {
		  color: black; /* 마우스 오버 또는 포커스 시 색상 변경 */
		  text-decoration: none; /* 밑줄 제거 */
		  cursor: pointer; /* 마우스 커서 변경 */
		}
		
		.modal2 {
		  display: none; /* 기본적으로 모달창을 숨깁니다. */
		  position: fixed; /* 화면에 고정되도록 합니다. */
		  z-index: 1; /* 다른 콘텐츠 위에 표시되도록 합니다. */
		  left: 0;
		  top: 0;
		  width: 100%; /* 전체 화면 너비 */
		  height: 100%; /* 전체 화면 높이 */
		  overflow: auto; /* 내용이 넘칠 경우 스크롤 가능 */
		  background-color: rgb(0,0,0); /* 배경색: 검정색 */
		  background-color: rgba(0,0,0,0.4); /* 배경 투명도 설정 */
		}
		
		/* 모달창 콘텐츠 박스 스타일 */
		.modal-content2 {
		  background-color: #fefefe; /* 콘텐츠 배경색: 흰색 */
		  margin: 15% auto; /* 위에서 15% 떨어지게 하고 중앙 정렬 */
		  padding: 20px; /* 내부 여백 */
		  border: 1px solid #888; /* 테두리 색상 */
		  width: 80%; /* 콘텐츠 너비: 화면의 80% */
		  max-width: 600px; /* 최대 너비 600px */
		  border-radius: 5px; /* 모서리 둥글게 */
		}
	</style>
</head>

<body>
	<div class="tuto">
		<h5>튜토리얼(해당 사이트의 이용을 돕기위한 도움기능)<br></h5>
		<h5>이 준비되어 있습니다. 사용을 원하신다면 아래를 클릭해주세요.</h5>
		<button type="button" class="tutoBtn" onclick="tutorialStart()">튜토리얼 실행</button>
	</div>
	
	<div class="tutoModal">
		<button type="button" class="tutoCloseBtn" onclick="tutorialEnd()">X</button>
		<p class="tip">이곳에 이력서 제목을 입력해주세요. 입력하신 제목으로 이력서가 저장이 됩니다.</p>
		<div class="voiceBtn">
			<button type="submit"class="voicePlayBtn">텍스트 재생</button>
			<button type="submit" class="voiceStopBtn">텍스트 중지</button>
		</div>
	</div>
	
	
	<form id="resumeForm" enctype="multipart/form-data">
		<div class="resume-container">
			<div class="header">
				<input class="form-control" id="resumeTitle" placeholder="이력서 제목">
			</div>

			<div class="section-title">기본 정보</div>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td rowspan="4" style="width: 120px; text-align: center;">
							<div class="profile-image toggleImg1" style="display: none">
								<img id="preview" class="prorileImg">
							</div>
							<div class="toggleImg2">
								<div class="profile-image"
									style="background-image: url('/main/img/profile-image.png');"></div>
							</div>
						</td>
						<th>이름*</th>
						<td><input type="text" class="form-control" id="resumeName"></td>
					</tr>
					<tr>
						<th>생년월일*</th>
						<td><input type="date" class="form-control" id="birth"></td>
					</tr>
					<tr>
						<th>주소*</th>
						<td><input type="text" class="form-control" id="addr"></td>
					</tr>
					<tr>
						<th>전화번호*</th>
						<td><input type="tel" class="form-control" id="tel"></td>
					</tr>
					<tr>
						<td style="text-align: center;">
							<input type="file" id="imgUpload" name="uploadFiles" multiple style="display: none;" onchange="readURL(this);"> 
							<label for="imgUpload" id="upImg" class="btn btn-primary" style="cursor: pointer;">사진 등록</label>
						</td>
						<th>이메일*</th>
						<td><input type="email" class="form-control" id="email"></td>
					</tr>
				</tbody>
			</table>

			<hr>
			<div class="section-title">학력사항</div>
			<table class="table table-bordered" id="educationTable">
				<thead>
					<tr>
						<th>학교명</th>
						<th>전공</th>
						<th>졸업년월</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody id="schoolbody">
						<tr>
							<td><input type="text" class="form-control" placeholder="학교명" id="school"></td>
							<td><input type="text" class="form-control" placeholder="전공" id="major"></td>
							<td><input type="month" class="form-control" id="graduation"></td>
							<td class="text-center"><button type="button" class="btn btn-danger btn-sm"
									onclick="removeRow(this)">X</button></td>
						</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-secondary btn-sm" onclick="addRow('educationTable')">학력 추가</button>
			<hr>
			<div class="section-title">경력사항</div>
			<table class="table table-bordered" id="careerTable">
				<thead>
					<tr>
						<th>근무처</th>
						<th>직위/업무내용</th>
						<th>시작일</th>
						<th>종료일</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody id="workbody">
						<tr>
							<td><input type="text" class="form-control" placeholder="근무처" id="work"></td>
							<td><input type="text" class="form-control" placeholder="직위/업무내용" id="job"></td>
							<td><input type="date" class="form-control" id="start"></td>
							<td><input type="date" class="form-control" id="end"></td>
							<td class="text-center"><button type="button" class="btn btn-danger btn-sm"
									onclick="removeRow(this)">X</button></td>
						</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-secondary btn-sm" onclick="addRow('careerTable')">경력 추가</button>
			<hr>
			<div class="section-title">보유기술/자격증</div>
			<table class="table table-bordered" id="certificationTable">
				<thead>
					<tr>
						<th>취득일</th>
						<th>자격증명</th>
						<th>시행처</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody id="licensebody">
						<tr>
							<td><input type="date" class="form-control" id="get"></td>
							<td><input type="text" class="form-control" placeholder="자격증명" id="license"></td>
							<td><input type="text" class="form-control" placeholder="시행처" id="company"></td>
							<td class="text-center"><button type="button" class="btn btn-danger btn-sm"
									onclick="removeRow(this)">X</button></td>
						</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-secondary btn-sm" onclick="addRow('certificationTable')">자격증
				추가</button>

			<hr>
			<div class="section-title">자기소개</div>
			<textarea class="form-control" id="produce" rows="5" placeholder="자기소개를 입력하세요"></textarea>

			<div class="text-end mt-4">
				<!--/* <button type="button" th:onclick="|location.href='@{/upload-form}'|" class="btn">OCR로 작성</button> */-->
				<button type="button" id="openModal" class="btn">OCR로 작성</button>
				<button type="button" class="btn btn-primary saveHandler">저장</button>
				<button type="button" class="btn btn-secondary" onclick="goList()">취소</button>
			</div>
		</div>
	</form>
	<!-- OCR 사진 등록 모달 -->
	<div id="myModal" class="modal">
    <div class="modal-content">
       <span class="close">&times;</span>
       <h1>OCR</h1><br>
       <h4>OCR이란?</h4><br>
       <p>OCR(Optical Character Recognition:광학 문자 인식)은 스캔한 이미지나 사진에서 문자를 인식하여 컴퓨터에서 사용 가능한 텍스트로 변환하는 기술입니다.<br> 
       이 기술은 기계 학습, 인공지능 및 컴퓨터 비전과 같은 다양한 기술들을 결합하여 구현됩니다.<br>
       OCR을 통해 디지털로 변환된 텍스트는 검색 및 분석을 위한 데이터로 활용할 수 있습니다.</p>
       <form action="/uploadAndOcr" id="ocrForm" method="post" enctype="multipart/form-data">
         <input type="file" name="file" accept=".jpg, .jpeg, .png">
         <button type="submit">사진으로 작성</button>
       </form>
     </div>
    </div>
    
    <div id="myModal2" class="modal2">
    <div class="modal-content2">
        <span class="close" onclick="closeModal('myModal2')">&times;</span>
        <h1>OCR 결과</h1>
        <ul id="ocrResultList"></ul>
        <button type="button" onclick="sendOcrResult()">자동등록</button>
    	</div>
	</div>
	

	<script>
	// OCR 사진 등록 모달 -------------------------------------------------------------------
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("openModal");
    var span = document.getElementsByClassName("close")[0];
	var parsedata;
	
    btn.onclick = function() {
      modal.style.display = "block";
      sidebar.children().css('background', 'gray')
    }

    span.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
        sidebar.children().css('background', 'white')
      }
    }
    
    // ocr파일 업로드
    document.getElementById('ocrForm').addEventListener('submit', function(event) {
        event.preventDefault(); // 기본 폼 제출 동작 방지
        
        var formData = new FormData(this);
        fetch('/uploadAndOcr', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
        	parsedata = data;
            // OCR 결과를 모달에 표시
            var ocrResultList = document.getElementById('ocrResultList');
            ocrResultList.innerHTML = '';
            parsedata.forEach(result => {
                var li = document.createElement('li');
                li.textContent = result;
                ocrResultList.appendChild(li);
            });
            
            // JSON 데이터를 포맷하여 문자열로 변환
            var jsonString = JSON.stringify(parsedata, null, 2);
            
            // 모달에 JSON 결과 표시
            document.getElementById('ocrResultList').textContent = jsonString;
            
            // 모달 표시            
            document.getElementById('myModal2').style.display = 'block';
   	     	modal.style.display = "none";
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
	
    
  	 // OCR 결과 배열 
     function sendOcrResult() {
     // 특정 단어의 위치 찾기     
	     let resumeTitle = parsedata.slice(0, parsedata.indexOf("기본"));
	     
	     let name = parsedata[parsedata.indexOf("이름")+1];
	     
	     let birth1 = parsedata[parsedata.indexOf("생년월일")+1];
	     
	     let addr = parsedata.slice(parsedata.indexOf("주소")+1,parsedata.indexOf("전화번호"));
	     
	     let tel = parsedata[parsedata.indexOf("전화번호")+1];
	     
	     let email = parsedata[parsedata.indexOf("이메일")+1];
	     
	     let school = parsedata.slice(parsedata.indexOf("졸업년월")+1,parsedata.indexOf("경력사항"));
	     
	     let work = parsedata.slice(parsedata.indexOf("종료일")+1,parsedata.indexOf("보유기술/자격증"));
	     
	     let get = parsedata.slice(parsedata.indexOf("시행처")+1,parsedata.indexOf("자기소개"));
	     
	     let produce = parsedata.slice(parsedata.indexOf("자기소개")+1,);
	  		 
	     console.log(resumeTitle, name, birth1, addr, tel, email, school, work, get, produce);
	    	 
	    	 
	    	 
         const sendOcr = {
         	 resumeTitle: resumeTitle,
             name: name,
             birth: birth1,
             addr: addr,
             tel: tel,
             email: email,
             school: school,
             work: work,
             get: get,
             produce: produce
         };
         sessionStorage.setItem('OCR',JSON.stringify(sendOcr));
		// 추출된 텍스트 세션에서 받아오기
		 const ocr = sessionStorage.getItem('OCR');
		 const ocrData = JSON.parse(ocr);
	     
		 function yearmonth(input) {
			    // 입력이 문자열인지 확인
			    if (typeof input === 'string') {
			        // 문자열에서 년도와 월 추출
			        const match = input.match(/(\d{4})[^\d]*(\d{2})/);
			        if (match) {
			            // 추출한 년도와 월을 사용하여 결과 반환
			            const year = match[1];
			            const month = match[2].padStart(2, '0'); // 월을 두 자리로 포맷
			            return `${year}-${month}`;
			        }
			    }
			    
			    // 입력을 Date 객체로 변환 시도
			    const date = new Date(input);

			    // 년도와 월 추출
			    const year = date.getFullYear();
			    const month = ('0' + (date.getMonth() + 1)).slice(-2);
			    
			    // 년-월 형식으로 반환
			    return `${year}-${month}`;
			}
	     
	     function yearmonthday(inputDate) {
	    	 	const date = inputDate instanceof Date ? inputDate : new Date(inputDate);
	    	    const year = date.getFullYear();
	    	    const month = ('0' + (date.getMonth() + 1)).slice(-2);
	    	    const day = ('0' + date.getDate()).slice(-2);
	    	    return `${year}-${month}-${day}`;
	 	}
	     
	     if (ocrData) {
	    	 document.getElementById('resumeTitle').value = ocrData.resumeTitle.join(' ').replace(/,/g, '');
	         document.getElementById('resumeName').value = ocrData.name;
	         let birthday = yearmonthday(ocrData.birth);
	         document.getElementById('birth').value = birthday;
	         document.getElementById('addr').value = ocrData.addr.join(' ').replace(/,/g, '');
	         document.getElementById('tel').value = ocrData.tel;
	         document.getElementById('email').value = ocrData.email;
	         document.getElementById('produce').value = ocrData.produce.join(' ').replace(/,/g, '');
	         
	        
	         for(i = 0; i < ocrData.school.length/3; i++){
	         	if(i!=0) 
	         		addRow('educationTable')
	         	document.querySelectorAll(`#schoolbody tr`)[i].querySelector('#school').value = ocrData.school[i*3];
	         	document.querySelectorAll(`#schoolbody tr`)[i].querySelector('#major').value = ocrData.school[i*3+1];
	         	let date = yearmonth(ocrData.school[i*3+2]);
	            document.querySelectorAll(`#schoolbody tr`)[i].querySelector('#graduation').value = date;
	         }
	         
	     
	         
	         for(i = 0; i < ocrData.work.length/4; i++){
	         	if(i!=0) 
	         		addRow('careerTable')
	         	document.querySelectorAll(`#workbody tr`)[i].querySelector('#work').value = ocrData.work[i*4];
	         	document.querySelectorAll(`#workbody tr`)[i].querySelector('#job').value = ocrData.work[i*4+1];
	         	let date1 = yearmonthday(ocrData.work[i*4+2]);
	         	document.querySelectorAll(`#workbody tr`)[i].querySelector('#start').value = date1;
	         	let date2 = yearmonthday(ocrData.work[i*4+3]);
	         	document.querySelectorAll(`#workbody tr`)[i].querySelector('#end').value = date2;
	         }
	         
	         for(i = 0; i < ocrData.get.length/3; i++){
	          	if(i!=0) 
	          		addRow('certificationTable')
	          	let getdate = yearmonthday(ocrData.get[i*3]);
	          	document.querySelectorAll(`#licensebody tr`)[i].querySelector('#get').value = getdate;
	          	document.querySelectorAll(`#licensebody tr`)[i].querySelector('#license').value = ocrData.get[i*3+1];
	            document.querySelectorAll(`#licensebody tr`)[i].querySelector('#company').value = ocrData.get[i*3+2];
	          }
	         
	     
	     }  
	     
	     document.getElementById('myModal2').style.display = 'none';
	     sidebar.children().css('background', 'white')
     }
  	 
  	 
	// ----------------------------------------------------------------------------------
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('preview').src = e.target.result;
                    document.querySelector('.toggleImg1').style.display = 'block';
                    document.querySelector('.toggleImg2').style.display = 'none';
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                document.getElementById('preview').src = "";
            }
        }
        
        function addRow(tableId) {
            const table = document.getElementById(tableId).getElementsByTagName('tbody')[0];
            const newRow = table.rows[0].cloneNode(true);

            const inputs = newRow.getElementsByTagName('input');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].value = '';
            }

            table.appendChild(newRow);
        }

        function removeRow(button) {
            const row = button.closest('tr');
            const table = row.closest('tbody');

            if (table.rows.length > 1) {
                table.removeChild(row);
            } else {
                alert('마지막 행은 삭제할 수 없습니다.');
            }
        }

        document.querySelector(".saveHandler").addEventListener("click", function () {
        	
        	// 필수 입력값 체크
            const resumeTitle = document.querySelector('#resumeTitle').value.trim();
            const resumeName = document.querySelector('#resumeName').value.trim();
            const birth = document.querySelector('#birth').value;
            const addr = document.querySelector('#addr').value.trim();
            const tel = document.querySelector('#tel').value.trim();
            const email = document.querySelector('#email').value.trim();
            const imgfiles = document.getElementById('imgUpload').files;
            const produce = document.querySelector('#produce').value.trim();

            if (!resumeTitle || !resumeName || !birth || !addr || !tel || !email || imgfiles.length === 0 || !produce) {
                alert("이력서 제목을 포함한 모든 필수 항목을 입력하고 사진을 등록해야 합니다.");
                return; // 서버로 전송하지 않음
            }
        	
            const formData = new FormData();

            const resume = {
                resumeTitle: resumeTitle,
                resumeName: resumeName,
                birth: birth,
                addr: addr,
                tel: tel,
                email: email,
                produce: produce,
                careers: [],
                edus: [],
                licenses: []
            };

            // 학력사항 수집
            const eduRows = document.querySelectorAll('#educationTable tbody tr');
            eduRows.forEach(row => {
                const edu = {
                    school: row.querySelector('input[placeholder="학교명"]').value,
                    major: row.querySelector('input[placeholder="전공"]').value,
                    graduation: row.querySelector('input[type="month"]').value
                };
                resume.edus.push(edu);
            });

            // 경력사항 수집
            const careerRows = document.querySelectorAll('#careerTable tbody tr');
            careerRows.forEach(row => {
                const career = {
                    workPlace: row.querySelector('input[placeholder="근무처"]').value,
                    role: row.querySelector('input[placeholder="직위/업무내용"]').value,
                    careerStart: row.querySelector('input[type="date"]').value,
                    careerEnd: row.querySelector('input[type="date"]').value
                };
                resume.careers.push(career);
            });

            // 자격증 수집
            const licenseRows = document.querySelectorAll('#certificationTable tbody tr');
            licenseRows.forEach(row => {
                const license = {
                    getDate: row.querySelector('input[type="date"]').value,
                    licenseName: row.querySelector('input[placeholder="자격증명"]').value,
                    licenseCompany: row.querySelector('input[placeholder="시행처"]').value
                };
                resume.licenses.push(license);
            });

            // JSON 데이터를 FormData에 추가
            formData.append("resumeData", JSON.stringify(resume));
            
         	// 파일 추가
            const files = document.querySelector('#imgUpload').files;
            for (let i = 0; i < files.length; i++) {
                formData.append("uploadFiles", files[i]);
            }

            // 데이터를 서버로 전송
            fetch("/userMain/resume/save", {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("이력서가 성공적으로 등록되었습니다.");
                    location.href = '/userMain/resume';
                } else {
                    alert("등록 중 오류가 발생했습니다.");
                }
            });
        });
        // -------------------------------------------------------------------
        
        function goList() {
        	location.href = `/userMain/resume`;
        }
        
        
       	/* 튜토리얼 ----------------------------------------------------------*/
 function populateVoiceList() {
	  if (typeof speechSynthesis === 'undefined') {
	    return;
	  }

	  const voices = speechSynthesis.getVoices();

	  const voiceList = voices
	    .filter((voice) => {
	      return voice.lang.includes('en');
	    })
	    .map((voice) => {
	      return `${voice.name} (${voice.lang})`;
	    });
	  console.log(voiceList);
	}

	populateVoiceList();
	if (
	  typeof speechSynthesis !== 'undefined' &&
	  speechSynthesis.onvoiceschanged !== undefined
	) {
	  speechSynthesis.onvoiceschanged = populateVoiceList;
	}

	const checkBrowserCompatibility = () => {
		  "speechSynthesis" in window
		    ? console.log("Web Speech API supported!")
		    : console.log("Web Speech API not supported :-(")
		}
	const utterThis = new SpeechSynthesisUtterance()
	const synth = window.speechSynthesis
	
	checkBrowserCompatibility();	
	
	let playText = document.querySelector('.voicePlayBtn');
	let stopText = document.querySelector('.voiceStopBtn');
	let text = '';
	
	playText.addEventListener('click', function() {
		event.preventDefault()
		text = tip.html()
		utterThis.text = text
		console.log(text)
		synth.speak(utterThis)
	})
	
	stopText.addEventListener('click', function() {
		window.speechSynthesis.cancel()
	})       	
        /* let body = document.querySelector('body'); */	
        let body = $('body')
        let tutoBtn = $('.tutoBtn')
        let resumeContainer = $('.resume-container')
        let profileImg = $('.profile-image')
        let tutoModal = $('.tutoModal')
        let formControl = document.querySelectorAll('.form-control')
        let tip = $('.tip')
        let state = 0;
        let upImg = $('#upImg')
        let header = $('.header')
        let birth = $('#birth')
        let sidebar = $('.sidebar')
        let topMenu = $('#navbarCollapse')
        let navbar = document.querySelector('.navbar')
        
        function navColorChange(){
        	navbar.className = 'navbar navbar-expand-lg bg-gray navbar-light shadow sticky-top p-0'
        }
        
        
        function tutorialStart() {
        	navColorChange()
        	console.log('튜토리얼 실행')
        	tip.text("이곳에 이력서 제목을 입력해주세요. 입력하신 제목으로 이력서가 저장이 됩니다.")
        	body.css('background', 'gray');
        	tutoBtn.css('background', 'gray')
        	resumeContainer.css('background', 'gray')
        	header.css('background', 'gray')
        	upImg.css('color', 'black')
        	upImg.css('background', 'gray')
        	upImg.css('border', '1px solid black')
        	topMenu.css('background', 'gray')
        	sidebar.children().css('background', 'gray')
        	for(let i=0; i<formControl.length; i++){
        		formControl[i].style.backgroundColor="gray"
        	}
        	formControl[0].style.backgroundColor='gray'
        	tutoModal.show();
        	state = 1;
        	formControl[1].value = '';
        	formControl[1].focus()
        	formControl[1].style.backgroundColor="white"
        	formControl[1].addEventListener("change", function(e) {
        		console.log("onchange", e.target.value);
        		if(state == 1){
	        		next();
        		}
        	})
        }    	
     	   
        /* 기본정보 */
     
        function next(){
        	tip.text("이력서에 첨부할 사진을 등록하는 곳입니다. 사진 등록을 클릭해 사진을 등록해주세요")
        	profileImg.css('border','red 5px solid')
        	upImg.css('border', 'red 5px solid')
        	upImg.css('background', '#06bbcc')
        	formControl[1].style.backgroundColor="gray";
        	state=2;
        	setTimeout(function(){
        		next1()
        		formControl[2].focus()
        	}, 5000)
        }
      	
        
        
        function next1(){
        	formControl[2].value=''
        	tip.text("이곳에는 성함을 기재해주세요")
        	upImg.css('color', 'black')
        	upImg.css('background', 'gray')
        	upImg.css('border', '1px solid black')
           	profileImg.css('border', 'none')
    		upImg.css('border','none')
           	formControl[2].style.backgroundColor="white";
        	formControl[2].addEventListener("change", function(e){
        		console.log("onchange", e.target.value);
        		if(state==2) {
        			next2();
        		}
        	})
        }

        function next2(){
        	formControl[3].value = '';
        	state=3
        	console.log('달력값' + formControl[3].value)
        	formControl[2].style.backgroundColor="gray"
        	formControl[3].style.backgroundColor="white"
        	if(state==3){
        		tip.html('오른쪽 달력 클릭 후 본인의 생년월일을 클릭해주세요.')
        	
        	}
        	formControl[3].addEventListener("change", function(e){
        		console.log("onchange", e.target.value);
        		let regex = RegExp(/^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/);
        		if(regex.test(formControl[3].value) == true){
        			console.log('값 일치')
        			next3()
        		}
        	})
        }
        function next3(){
        	console.log('next3 실행')
        	state = 4;
        	tip.html('주소를 기재해주세요.')
        	formControl[3].style.backgroundColor='gray'
        	formControl[4].value = ''	
        	formControl[4].focus()
        	formControl[4].style.backgroundColor='white'
        	formControl[4].addEventListener('change', function(e){
        		console.log(e.target.value)
        		next4()
        	})
        }
        
        function next4(){
        	console.log('next4 실행')
        	state = 5;
        	tip.html('사용하시는 휴대전화의 연락처를 입력해주세요. 해당 번호로 합격결과문자가 전송됩니다.')
        	formControl[4].style.backgroundColor="gray"
        	formControl[5].style.backgroundColor="white"
        	formControl[5].value = ''
        	formControl[5].focus()
        	formControl[5].addEventListener('change', function(e){
        		console.log(e.target.value)
        		next5()
        	})
        }
        
        function next5(){
        	console.log('next5')
        	state = 6;
        	tip.html('사용하시는 이메일을 입력해주세요. 해당 이메일로 홍보 및 결과 메일이 전송됩니다.')
        	formControl[5].style.backgroundColor='gray'
        	formControl[6].style.backgroundColor='white'
        	formControl[6].focus()
        	formControl[6].addEventListener('change', function(e){
        		next6()
        	})
        }
        
        /* 기본정보 끝 */
        
        /* 학려사항 */
        function next6(){
        	console.log('next6')
        	state = 7
        	tip.html('학력을 입력해주세요 좌측 하단의 학력추가 클릭시 새로운 입력창이 생성됩니다.')
        	formControl[6].style.backgroundColor='gray'
        	formControl[7].style.backgroundColor='white'
        	formControl[8].style.backgroundColor='white'
        	formControl[9].style.backgroundColor='white'
        	formControl[7].focus()
        	formControl[7].addEventListener('change', function(){
				formControl[8].focus()        		
        	})
        	formControl[9].addEventListener('change', function(e){
        		if(formControl[7].value != '' && formControl[8].value != '' && formControl[9].value != ''){
        			next7()	
        		}
        	})
        }
        
        /* 경력사항 */
        function next7(){
        	console.log('next7')
        	state = 8
        	tip.html('경력사항을 입력해주세요')
        	formControl[7].style.backgroundColor='gray'
        	formControl[8].style.backgroundColor='gray'
        	formControl[9].style.backgroundColor='gray'
        	formControl[10].style.backgroundColor='white'
        	formControl[11].style.backgroundColor='white'
        	formControl[12].style.backgroundColor='white'
        	formControl[13].style.backgroundColor='white'
        	formControl[10].focus()
        	formControl[10].addEventListener('change', function(){
        		formControl[11].focus()
        	})
        	let regex = RegExp(/^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/);
        	formControl[13].addEventListener('change', function(){
        		if(formControl[10].value != '' && formControl[11].value != '' && 
        	   	   regex.test(formControl[12].value) == true && regex.test(formControl[13].value) == true){
        	       		next8()
        	    }
        	})
        
        }
        
        function next8(){
        	console.log('next8')
        	state = 9
        	tip.html('보유하고 계신 자격증을 입력해주세요')
            let regex = RegExp(/^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/);
        	formControl[10].style.backgroundColor='gray'
            formControl[11].style.backgroundColor='gray'
            formControl[12].style.backgroundColor='gray'
            formControl[13].style.backgroundColor='gray'
            formControl[14].style.backgroundColor='white'
            formControl[15].style.backgroundColor='white'
            formControl[16].style.backgroundColor='white'
            
            formControl[14].addEventListener('change', function(){
            	if(regex.test(formControl[14].value) == true) {
	            	formControl[15].focus()
            	}
            })
            
            formControl[15].addEventListener('change', function(){
            	formControl[16].focus()
            })
        
			formControl[16].addEventListener('change', function(){
				if(regex.test(formControl[14].value) == true && 
				   formControl[15].value != '' && formControl[16].value != ''){
					next9()
				}
			})	            
        }
        
        function next9(){
        	console.log('next9')
        	tip.html('모집을 하는 기업에 자신을 소개하는 글을 쓰는곳입니다.')
        	formControl[14].style.backgroundColor='gray'
        	formControl[15].style.backgroundColor='gray'
        	formControl[16].style.backgroundColor='gray'
        	formControl[17].style.backgroundColor='white'
        	formControl[17].focus()
        	
        	formControl[17].addEventListener('change', function(){
				next10()        	
        	})
        }
        
        function next10(){
        	tip.html('튜토리얼이 모두 종료되었습니다. 수고하셨습니다.')
        	setTimeout(function(){
        		tutorialEnd()
        	},3000)
        	
        }
        
		function tutorialEnd(){
			state = 0;
			console.log('튜토리얼 종료');
			tutoModal.hide();
			body.css('background', 'white');
			tutoBtn.css('background', '#06bbcc');
			for(let i=0; i<formControl.length; i++){
				formControl[i].style.backgroundColor="white"
			}
			profileImg.css('border', 'none')
			upImg.css('border','none')
			upImg.css('color', 'white')
			upImg.css('background', '#06bbcc')
			resumeContainer.css('background', '#f7f7f7')
			header.css('background', '#e2e3e5')
			topMenu.css('background', 'white')
			sidebar.children().css('background', 'white')
		}
		sessionStorage.removeItem('OCR');
    </script>
</body>

</html>