<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/main/layouts/mypage_layout}" layout:fragment="Content">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Upload and OCR</title>
</head>
<body>
<h1>OCR</h1><br>
<h4>OCR이란?</h4><br>
<p>OCR(Optical Character Recognition:광학 문자 인식)은 스캔한 이미지나 사진에서 문자를 인식하여 컴퓨터에서 사용 가능한 텍스트로 변환하는 기술입니다.<br> 
이 기술은 기계 학습, 인공지능 및 컴퓨터 비전과 같은 다양한 기술들을 결합하여 구현됩니다.<br>
 OCR을 통해 디지털로 변환된 텍스트는 검색 및 분석을 위한 데이터로 활용할 수 있습니다.</p>
<form action="uploadAndOcr" method="post" enctype="multipart/form-data">
  <input type="file" name="file" accept=".jpg, .jpeg, .png">
  <button type="submit">OCR로 작성</button>
</form>
</body>
</html>