<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/main/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
	<style>
		.qnaTitle {
			font-size: 24px;
			font-weight: bold;
		}

		@media (max-width: 768px) {
			.qnaTitle {
				font-size: 20px;
			}
		}
	</style>
</head>
<body>
	<div class="container-fluid bg-primary py-5 mb-5 page-header">
		<div class="container py-5">
			<div class="row justify-content-center">
				<div class="col-lg-10 text-center">
					<h1 class="display-3 text-white animated slideInDown">복지제도 일정</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center">
							<li class="breadcrumb-item">
								<p class="text-white">복지제도일정 상세페이지 입니다.</p>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="table-responsive">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th scope="row">정책 번호</th>
						<td th:text="${detail.servId}"></td>
						<th scope="row">시행기간</th>
						<td>
							[[${#strings.substringBefore(detail.startDate, ' 00:00:00')}]] ~
							[[${#strings.substringBefore(detail.endDate, ' 00:00:00')}]]
						</td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td class="qnaTitle" colspan="3">[[ ${detail.servName } ]]</td>
					</tr>
					<tr>
						<th scope="row">시도명 , 시군구명</th>
						<td colspan="3">[[ ${detail.sido} ]] [[ ${detail.sgg} ]]</td>
					</tr>
					<tr th:each="file : ${file}">
						<th scope="row">첨부파일 [바로보기]</th>
						<td colspan="3">
							<a th:href="@{/images/{fileName}(fileName=${file.filePath})}" class="atch-thumb">
								[[${file.fileName}]]
							</a>
						</td>
					</tr>
					<tr>
						<th scope="row">담당부서</th>
						<td colspan="3">[[ ${detail.bizDept} ]]</td>
					</tr>
					<tr>
						<th scope="row">제공유형명,지원주기명</th>
						<td colspan="3">[[ ${detail.provType} ]] / [[ ${detail.supPeriod} ]]</td>
					</tr>
					<tr>
						<th scope="row">가구상황명</th>
						<td colspan="3">[[ ${detail.household} ]]</td>
					</tr>
					<tr>
						<th scope="row">관심주제명</th>
						<td colspan="3">[[ ${detail.likeSubject} ]]</td>
					</tr>
					<tr>
						<th scope="row">지원대상 내용</th>
						<td colspan="3">[[ ${detail.supTarget} ]]</td>
					</tr>
					<tr>
						<th scope="row">급여서비스 내용</th>
						<td colspan="3">[[ ${detail.salServ} ]]</td>
					</tr>
					<tr>
						<th scope="row">신청방법 내용</th>
						<td colspan="3">[[ ${detail.appWay} ]]</td>
					</tr>
					<tr>
						<th scope="row">선정기준 내용</th>
						<td colspan="3">[[ ${detail.selStandard} ]]</td>
					</tr>
					<tr>
						<th scope="row">서비스 요약</th>
						<td colspan="3">[[ ${detail.servSummary} ]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container text-center my-5">
		<a onclick="history.back()" class="btn btn-primary">목록으로</a>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>