<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/main/layouts/default_layout}"
	layout:fragment="Content">
	
<head>
<meta charset='utf-8' />
<title>복지제도 일정</title>
<!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<script
	th:src='@{https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js}'></script>
<!-- <script th:src='@{/dist/index.global.js}'></script> -->


<script>
    $(document).ready(function() {
    	
        var activeTab = sessionStorage.getItem('activeTab');
        if (activeTab) {
            $('#' + activeTab).tab('show');
        }

        $('.nav-tabs button').on('click', function() {
            var activeTabId = $(this).attr('id');
            sessionStorage.setItem('activeTab', activeTabId);

            if (activeTabId === 'nav-home-tab') {
                window.location.href = 'http://localhost:8080/calendar/list';
            }
        });

        function loadCalendar() {
            var request = $.ajax({
                url: "/calendar", // 변경하기
                method: "GET",
                dataType: "json"
            });

            request.done(function(data) {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,listWeek'
                    },
                    editable: true,
                    selectable: true,
                    locale: 'ko', // 한글
                    droppable: false,
                    events: data,
                    eventClick : function(info) {
                    	 var wid = info.event._def.publicId; // wid 가져오기
                         console.log("Clicked event's wid:", wid);
                         if (wid) {
                             const link = 'http://localhost:8080/calendar/detail?wid=' + wid;
                             window.location.href = link;
                         } else {
                             console.log("wid not found for this event.");
                         }
                    }
                });
                calendar.render();
            });

            request.fail(function(jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
        }

        /* loadCalendar(); */
        
        
    });
</script>


<style>
body {
	margin: 40px 10px;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}

#calendar {
	max-width: 1100px;
	margin: 0 auto;
	height: 100%;
}

.fc-theme-standard td, .fc-theme-standard th {
	font-size: 13px;
}

.row2 {
	width: 100%;
}

.fc-day a {
	color: black;
	text-decoration: none;
}

.fc-day-sun a {
	color: red;
	text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
	color: blue;
	text-decoration: none;
}

.nav-tabs {
	float: right;
}

.search {
	height: 40px;
	display: flex !important;
	width: 30%;
	float: right;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item {
    margin: 0 5px; 
    display: flex;
    align-items: center;
}

.page-item .page-link {
    padding: 10px 15px;
    border: 1px solid #ddd;
    color: #007bff;
    text-decoration: none;
    background-color: white;
}

.page-item.active .page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: white;
}

#regionList {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.btn-group-vertical {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-group-vertical button, 
.btn-group-vertical label {
    margin: 5px;
}

.btn-group-horizontal {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}



</style>
</head>
<body>

	<div class="container-fluid bg-primary py-5 mb-5 page-header">
		<div class="container py-5">
			<div class="row justify-content-center">
				<div class="col-lg-10 text-center">
					<h1 class="display-3 text-white animated slideInDown">복지제도 일정</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center">
							<li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
							<li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
							<li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="card-text pb-3 mb-4">
			<div class="row2">
				<div class="col-auto">

					<div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
				    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
				    <label class="btn btn-outline-info" for="vbtn-radio1" id="regionBtn">지역분류</label>
				    <div id="regionList" class="btn-group-horizontal" style="display: none;">
				         <button class="btn btn-outline-info region-btn" data-region="all">전국</button>
				        <button class="btn btn-outline-info region-btn" th:each="region : ${regionCode}" th:data-region="${region.codeName}"  th:text="${region.codeName}">서울특별시</button>
				        
				        
				    </div>
				
				    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
				    <label class="btn btn-outline-info" for="vbtn-radio2">주제분류</label>
    					<div id="interestList" class="btn-group-horizontal" style="display: none;">
        				<button class="btn btn-outline-info interest-btn" >전체</button>
				        <button class="btn btn-outline-info interest-btn" th:each="like : ${likeCode}" th:data-like=${like.codeName} th:text="${like.codeName}">신체건강</button>
				
				    </div>
				    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
				    <label class="btn btn-outline-info vbtn-radio3" for="vbtn-radio3">검색</label>
				</div>


					<nav style="padding-left: 0px" class="Calendar">
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<button class="nav-link  active text-body" id="nav-home-tab"
								data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
								role="tab" aria-controls="nav-profile" aria-selected="false">
								달력</button>
							<button class="nav-link  text-body" id="nav-profile-tab"
								data-bs-toggle="tab" data-bs-target="#nav-home"
								aria-controls="nav-home" type="button" role="tab"
								aria-selected="true">목록</button>
						</div>
					</nav>

					<div class="tab-content" id="nav-tabContent">

						<div class="tab-pane fade show active pt-3"
							style="white-space: pre-line" role="tabpanel" id="nav-profile"
							aria-labelledby="nav-profile-tab">
							<!-- 달력 -->
							<div id='calendar'></div>
						</div>

						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade    pt-3" style="white-space: pre-line"
								role="tabpanel" id="nav-home" aria-labelledby="nav-home-tab">
								<div class="sortbox">
									<form class="d-flex search" role="search" id="dataload">
										<button class="btn btn-outline-success" type="submit">카테고리</button>
										<input class="form-control me-2" type="search" name="keyword"
											placeholder="Search" aria-label="Search">
										<button class="btn btn-outline-success vbtn-radio3" type="button">검색</button>
									</form>
									<button type="button" class="btn btn-secondary">정렬</button>
								</div>

								<table class="table">
									<thead>
										<tr>
											<th scope="col">서비스 ID</th>
											<th scope="col">지역</th>
											<th scope="col">제목</th>
											<th scope="col">시행일</th>
											<th scope="col">종료일</th>
										</tr>
									</thead>
									<tbody class="table-group-divider">
										<th:block th:each="c : ${list}">
											<tr
												th:onclick="|location.href='@{/calendar/detail(wid=${c.wid})}'|">
												<th scope="row">[[ ${c.wid} ]]</th>
												<td>[[ ${c.servId }]]</td>
												<td th:with="sgg=${c.sgg != null ? c.sgg : ' '}">
												[[ ${c.sido +' '+ c.sgg }]]
												</td>
												<td>[[ ${c.servName} ]]</td>
												<td>[[ ${c.startDate} ]]</td>
												<td>[[ ${c.endDate} ]]</td>
											</tr>
										</th:block>
									</tbody>
								</table>
								<!-- 페이징 -->
								<div th:object="${page}">
									<nav aria-label="Page navigation"
										class="d-flex justify-content-center">
										<ul class="pagination">
											<li class="page-item" th:if="*{prev}"><a
												class="page-link changePage"
												th:href="@{/calendar/list(pageNum=${page.startPage - 1})}"
												aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
											</a></li>
											<th:block
												th:each="num : ${#numbers.sequence(page.getStartPage(), page.getEndPage())}">
												<li class="page-item"
													th:classappend="${page.criteria.getPageNum() == num} ? 'active'">
													<a class="page-link changePage"
													th:href="@{/calendar/list (pageNum=${num})}"
													th:text="${num}"
													th:unless="${page.criteria.getPageNum() == num}"></a> <span
													class="page-link"
													th:if="${page.criteria.getPageNum() == num}"
													th:text="${num}"></span>
												</li>
											</th:block>
											<li class="page-item" th:if="*{next}"><a
												class="page-link changePage"
												th:href="@{/calendar/list(pageNum=${page.endPage + 1})}"
												aria-label="Next"> <span aria-hidden="true">&raquo;</span>
											</a></li>
										</ul>
									</nav>
									<form action="/calendar/list" th:object="${criteria}"
										name="pageForm">
										<input type="hidden" name="pageNum" th:field="*{pageNum}">
										<input type="hidden" name="amount" th:field="*{amount}">
									</form>
								</div>
								<!-- 페이징 끝 -->

							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>


<script type="text/javascript">

function search(){
	$(".vbtn-radio3").on('click',function(){
		var formdata = $('#dataload');
		if($("#regionList .active").length>0){
			formdata.append( `<input name="sido" value="${$("#regionList .active").data("region")}">`   )
		}
		if($("#interestList .active").length>0){
			$.each($("#interestList .active"),function(idx,ele){
				formdata.append(`<input name="likeSubject" value="${$(ele).data("like")}">`)
			})
		}
		
		$('#dataload').submit();
		
	})
}

search();

	function goInfo(no) {
		location.href = `/calendar/list/${no}`;
	}
	 $(document).ready(function() {
	        $('#regionBtn').on('click', function() {
	            $('#regionList').toggle(); // 지역분류 버튼들 토글
	        });

	        $('#vbtn-radio2').on('click', function() {
	            $('#interestList').toggle(); // 관심주제 버튼들 토글
	        });

	        $('#resetBtn').on('click', function() {
	            $('.btn-check').prop('checked', false); // 모든 라디오 버튼 리셋
	            $('.interest-btn').removeClass('active'); // 모든 관심주제 버튼 비활성화
	            $('.region-btn').removeClass('active'); // 모든 지역 버튼 비활성화
	            $('#regionList').hide(); // 지역분류 리스트 숨기기
	            $('#interestList').hide(); // 관심주제 리스트 숨기기
	        });
	        $('.region-btn').on('click', function() {
	            $('.region-btn').removeClass('active');
	            $(this).addClass('active');
	            
	            if ($(this).data('region') === 'all') {
	                $('.region-btn').removeClass('active'); // 모든 지역 선택 해제
	            }
	        });

	        // 관심주제 버튼 활성화 토글
	        $('.interest-btn').on('click', function() {
	            if ($(this).text() === '전체') {
	                $('.interest-btn').removeClass('active'); // 모든 주제 선택 해제
	            } else {
	                $(this).toggleClass('active'); // 선택/해제
	            }
	        });
	    });

</script>
	
		
</body>



</html>

