<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{common/main/layouts/default_layout}"
            layout:fragment="Content">
<head>
<meta charset="UTF-8">
<style>
	.container{margin-top:40px;}
</style>
<title>Insert title here</title>
</head>
<body>

	<div class="container">
		<h3>QnA 정보</h3>
		<table>
			<tr>
				<th>번호</th>
				<td th:text="${qnaInfo.qnaNo}"></td>
			</tr>
			<tr>
				<th>제목</th>
				<td th:text="${qnaInfo.qnaTitle}"></td>
			</tr>
			<tr class="no-content">
				<th>내용</th>
				<td th:text="${qnaInfo.qnaContent}"></td>
			</tr>
		</table>
		
		<div class="answer" th:if="${qnaInfo.qnaState} == '1'">
			<table>
				<tr>
					<td>
						<textarea cols="50" rows="5" th:text="${qnaInfo.replyContent}"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<button type="button">댓글삭제</button>
					</td>
				</tr>
			</table>
		</div>
	
		<form name="insertForm"
			th:action="@{/qnaReplyInsert}" method="post"
		  	th:if="${qnaInfo.qnaState} == '0'">
			<table>
				<tr>
					<td>
						<textarea name="replyContent"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<button type="submit">등록</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<!-- end of container -->
</body>
</html>