<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{common/main/layouts/default_layout}"
            layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">QnA</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
	<div class="container">
		<h3>QnA 목록</h3>
		<form action="#">
			<input type="radio" name="member" value="normal">일반회원
			<input type="radio" name="member" value="company">기업회원		
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성일</th>
					<!-- <th>작성자</th> -->
					<th>답변상태</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="qna : ${qnaList}">
					<tr th:onclick="|location.href='@{/qnaInfo(qnaNo=${qna.qnaNo})}'|">
						<td th:text="${qna.qnaNo}"></td>
						<td th:text="${qna.qnaContent}"></td>
						<td th:text="${#dates.format(qna.regDate, 'yyyy년MM월dd일')}">yyyy-mm-dd</td>
						<!-- <td th:text=${}></td>  -->
						<td th:text="${qna.qnaState}"></td>
					</tr>
				</th:block>			
			</tbody>
		</table>
		<div>
			<button type="button" th:onclick="|location.href='@{/qnaInsert}'|">등록</button>
		</div>
	</div>
</body>
</html>