<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ad_layout}" layout:fragment="Content">

<style>

	
</style>

<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>
					관리자 메인 <small>미승인 목록을 확인해주세요</small>
				</h3>
			</div>

			<div class="title_right">
				<div class="col-md-5 col-sm-5   form-group pull-right top_search">
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Search for..."> <span
							class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row" style="display: block;">
			<div class="col-md-6 col-sm-6  ">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							기업회원 가입 목록<small>Try hovering over the rows</small>
						</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false"><i
									class="fa fa-wrench"></i></a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Settings 1</a> <a
										class="dropdown-item" href="#">Settings 2</a>
								</div></li>
							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>


					<div class="x_content">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>기업번호</th>
									<th>기업이름</th>
									<th>사업분야</th>
									<th>신청일</th>
									<th>승인상태</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="company : ${cuser}" >
                        			<tr th:onclick="|location.href='@{/admin/approve/detail(coUserNo=${company.coUserNo})}'|">
										<td>[[${company.coUserNo}]]</td>
										<td>[[${company.coName}]]</td>
										<td>[[${company.industry}]]</td>
										<td>[[${#dates.format(company.signupDate, 'yyyy-MM-dd')}]]</td>
										<td>
											<button class="btn btn-danger" th:if="${company.authority}" th:text='미승인'></button>
										</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>


			<div class="col-md-6 col-sm-6  ">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							채용승인 목록<small>Try hovering over the rows</small>
						</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false"><i
									class="fa fa-wrench"></i></a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Settings 1</a> <a
										class="dropdown-item" href="#">Settings 2</a>
								</div></li>
							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>채용번호</th>
									<th>업무분야</th>
									<th>기업이름</th>
									<th>신청일</th>
									<th>승인상태</th>
								</tr>
							</thead>
							<tbody>
								<th:block  th:each=" post : ${posting}">
								<tr>
									<td>[[${post.postingNo}]]</td>
									<td>[[${post.job}]]</td>
									<td>[[${post.coName}]]</td>
									<td>[[${#dates.format(post.startDate, 'yyyy-MM-dd')}]]</td>
									<td>
										<button class="btn btn-danger" th:if="${post.postingApprove}" th:text='미승인'></button>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="col-md-6 col-sm-6  ">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							일반회원 QnA<small>Bordered table subtitle</small>
						</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false"><i
									class="fa fa-wrench"></i></a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Settings 1</a> <a
										class="dropdown-item" href="#">Settings 2</a>
								</div></li>
							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">

						<table class="table table-bordered">
							<thead>
								<tr>
									<th>qna no.</th>
									<th>제목</th>
									<th>작성자</th>
									<th>등록일</th>
									<th>답변 등록상태</th>
								</tr>
							</thead>
							<tbody>
							<th:block th:each=" user: ${ulist}">
							<tr>
									<td>[[${user.qnaNo}]]</td>
									<td>[[${user.qnaTitle}]]</td>
									<td>[[${user.userNo}]]</td>
									<td>[[${user.regDate}]]</td>
									<td>
										<button class="btn btn-danger">
											[[${user.qnaState}]]
										</button>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6  ">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							기업회원 QnA<small>Bordered table subtitle</small>
						</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false"><i
									class="fa fa-wrench"></i></a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Settings 1</a> <a
										class="dropdown-item" href="#">Settings 2</a>
								</div></li>
							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">

						<table class="table table-bordered">
							<thead>
								<tr>
									<th>qna no.</th>
									<th>제목</th>
									<th>작성자</th>
									<th>등록일</th>
									<th>답변 등록상태</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each=" coser: ${colist}">
								<tr >
									<td>[[${coser.qnaNo}]]</td>
									<td>[[${coser.qnaTitle}]]</td>
									<td>[[${coser.userNo}]]</td>
									<td>[[${coser.regDate}]]</td>
									<td>
										<button class="btn btn-danger">
											[[${coser.qnaState}]]
										</button>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>

			<div class="clearfix"></div>

		</div>
	</div>
</div>



</html>