<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/ad_layout}"  layout:fragment="Content">


<!-- <div class="right_col" role="main"> -->
	<div class="right_col">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>복지 정책 등록</h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>정책을 폼양식에 맞게 등록해 주세요<small>* 찍힌 부분은 필수 입력값입니다</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Settings 1</a>
                                                <a class="dropdown-item" href="#">Settings 2</a>
                                            </div>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <form name="updateWelfare" 
                                    			th:object="${welfare}" >
                                    			<input type="hidden" name="wid" th:field="${welfare.wid}" >
                                        <p>내용을 입력해 주세요</p>
                                        <span class="section">정보 입력</span>
                                        
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">서비스 ID<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="servId" th:field="${welfare.servId}" required="required">
                                            </div>
                                        </div>
                                       <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">서비스명<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="servName" th:field="${welfare.servName}" required="required" />
                                            </div>
                                        </div>
                                         <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">시행 시작 일자<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control date" type="date" name="startDate" th:field="${welfare.startDate}" required='required'></div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">시행 종료 일자<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control date" type="date" name="endDate" th:field="${welfare.endDate}" required='required'></div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">사업담당부서명<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="bizDept" th:field="${welfare.bizDept}"  required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">시도명</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="sido" th:field="${welfare.sido}" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">시군구명</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="sgg"  th:field="${welfare.sgg}"/>
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">가구상황명<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="household" th:field="${welfare.household}"  required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">관심주제명<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="likeSubject" th:field="${welfare.likeSubject}"  required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">지원주기명</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2"  name="supPeriod" th:field="${welfare.supPeriod}" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">제공유형명<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="provType" th:field="${welfare.provType}"  required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">지원대상 내용<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="supTarget" th:field="${welfare.supTarget}"  required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">급여서비스 내용<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="salServ"  th:field="${welfare.salServ}" required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">신청방법 내용<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="appWay" th:field="${welfare.appWay}" required="required" />
                                            </div>
                                        </div>
                                       <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">선정기준 내용<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="selStandard"  th:field="${welfare.selStandard}" required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align"> 첨부파일  </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input type="file" class="form-control" data-validate-length-range="6" data-validate-words="2" id="files" name="uploadFiles" multiple />
                                        </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">서비스 요약<span class="required" >*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <textarea required="required" name='servSummary' th:field="${welfare.servSummary}"></textarea></div>
                                        </div>
                                        <div class="ln_solid">
                                            <div class="form-group">
                                                <div class="col-md-6 offset-md-3">
                                                    <button type="button" class="btn btn-primary" id="updateBtn">등록</button>
                                                   <button type="button" class="btn btn-danger" th:onclick="|location.href='@{/admin/welfare}'|">취소</button>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>        


            <script th:inline="javascript">
            var wid = /*[[${welfare.wid}]]*/
            console.log('wid : ',wid);

            $('#updateBtn').on('click', UpdateAjax);
            
    		
    		function UpdateAjax(event){
    			//1) 보낼 데이터 확인
    			let info = new FormData(document.updateWelfare);
    			
    			//2) AJAX
    			$.ajax('/admin/update',{
    				type:'post',
    				processData : false,
    				contentType : false,
    				data : info
    			})
    			.done(data => {
    				if(data.result){
    					alert('정상적으로 수정되었습니다.');
    					location.href="/admin/detail?wid="+ wid;
    				}else{
    					alert('수정되지 않았습니다.\n데이터를 확인해주세요.');
    				}
    			})
    			.fail(err => console.log(err));			
    		};
    		
    		function getNoticeInfo(){
    			let formData= new FormData(document.updateWelfare);
    			console.log('1) serializeArray', formData);
    			
    			let objData = {};
    			$.each(formData, (idx, input) => {
    				console.log('2) input', idx, input);
    				objData[input.name] = input.value;
    			});
    			
    			console.log('3) objData', objData);
    			return objData;
    		};
    			
</script>

</html>