<!DOCTYPE html> <!-- default_layout.html -->
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!--/* common/configs/default_config => viewResolver가 읽는 정보 */-->
<!--/* BootstrapConfig => viewResolver 경로의 파일에서 fragment 정보를 읽은 값 */-->
<th:block th:replace="common/main/configs/home_config :: BootstrapConfig"></th:block>
<th:block th:replace="common/main/configs/home_config :: jQueryConfig"></th:block>
<th:block th:replace="common/main/configs/home_config :: HomeTemplateConfig"></th:block>
</head>
<body>
	<header th:insert="common/main/fragments/header :: headerFragment"></header>
	<main>
		<th:block layout:fragment="Content"></th:block>
	</main>
	<footer th:insert="common/main/fragments/footer :: footerFragment"></footer>
</body>
</html>