<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/main/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>채용공고</title>
<style>
.header, .footer {
	background-color: #f8f9fa;
	padding: 20px;
	text-align: center;
}

.search-bar {
	margin: 20px 0;
}

.job-card {
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	height: 100%;
}

.job-card .card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 200px; /* 박스 높이 고정 */
}

.pagination {
	justify-content: center;
}

.job-title {
	margin: 20px 0;
	text-align: center;
}
</style>
</head>
<body>
	<div class="container">
		<div class="job-title">
			<h2>채용공고</h2>
		</div>
		<div class="row search-bar">
			<div class="col-md-5">
				<input type="text" class="form-control" placeholder="키워드를 입력하세요.">
			</div>
			<div class="col-md-5">
				<select class="form-control">
					<option>직종</option>
				</select>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary btn-block">검색</button>
			</div>
		</div>
		<div class="row">
			<th:block th:each="posting : ${pList}">
				<div class="col-md-3 col-sm-6 mb-4 d-flex">
					<div class="job-card card">
						<div class="card-body">
							<h5 class="card-title" th:text="${posting.coName}">유안타증권</h5>
							<p class="card-text" th:text="${posting.postingTitle}">IT본부 경력직 모집</p>
							<p class="card-text">경력</p>
							<p class="card-text">(~08/01)</p>
						</div>
					</div>
				</div>
			</th:block>
		</div>

		<nav>
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#"><<</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">4</a></li>
				<li class="page-item"><a class="page-link" href="#">5</a></li>
				<li class="page-item"><a class="page-link" href="#">>></a></li>
			</ul>
		</nav>
	</div>
</body>
</html>