<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{common/main/layouts/default_layout}"
            layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h3>공지사항 등록</h3>	
		<form name="insertForm"
			  th:action="@{/noticeInsert}" method="post"
			  th:object="${noticeInfo}" >
			  <table>
			  	  <tr>
			  		<th>번호</th>
			  		<td><input type="text" name="noticeNo"></td>
			  	  </tr>
				  <tr>
			  		<th>제목</th>
			  		<td><input type="text" name="noticeTitle"></td>
			  	  </tr>
			  	  <tr>
			  		<th>내용</th>
			  		<td><textarea name="noticeContent"> </textarea></td>
			  	  </tr>
			  	  <tr>	
			  	  	<th>이미지</th>
			  	  	<td><input type="text">
			  	  </tr>
			  	  <tr>
			  	  	<th>첨부파일</th>
			  	  	<td><input type="text">
			  	  </tr>
			  </table>
		<button type="submit">등록</button>
		</form>
	</div>
</body>
</html>