<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{common/main/layouts/default_layout}"
            layout:fragment="Content">
<head>
<meta charset="UTF-8">
<style>
	.container{margin-top:40px;}
</style>
<title>공지사항 등록</title>
</head>	
<body>
	<div class="container">
		<h3>공지사항 등록</h3>	
		<form name="insertForm"
			  th:action="@{/noticeInsert}" method="post"
			  th:object="${noticeInfo}" 
			  enctype="multipart/form-data">
			  <table>
			  	  <tr>
			  	  	<th>공지분류</th>
			  	  	<td>
				  	  	<select name="imNotice">
				  	  		<option value="0">일반공지</option>
				  	  		<option value="1">중요공지</option>
				  	  	</select>
			  	  	</td>
			  	  </tr>
				  <tr>
			  		<th>제목</th>
			  		<td><input type="text" name="noticeTitle"></td>
			  	  </tr>
			  	  <tr>
			  		<th>내용</th>
			  		<td><textarea name="noticeContent"></textarea></td>
			  	  </tr>
			  	  <tr>
			  	  	<th>첨부파일</th>
			  	  	<td><input type="file" id="files" name="uploadFiles" multiple></td>
			  	  </tr>
			  </table>
		<button type="submit">등록</button>
		<button type="button" onclick="goList()">취소</button>
		</form>
	</div>
</body>
   <script type="text/javascript">
      function goList() {
         location.href = `/noticeList/`
      }

      insertForm.addEventListener('submit',boardInsertHandler);

      function boardInsertHandler(e) {
         e.preventDefault();

         let noticeTitle = document.querySelector('input[name="noticeTitle"]');
         if (noticeTitle.value.trim() == '') {
            alert('제목은 필수입니다.');
            noticeTitle.focus();
            return;
         }
         let noticeContent = document.querySelector('textarea[name="noticeContent"]');
         if (noticeContent.value.trim() == '') {
            alert('내용은 필수입니다.');
            noticeContent.focus();
            return;
         }
         insertForm.submit();
      }
   </script>

</html>