<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{common/main/layouts/default_layout}"
            layout:fragment="Content"
            xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
            >
<head>
<meta charset="UTF-8">
<style>
	.insertBtn {
		float:right;
		border: none;
		padding: 10px;
		border-radius: 10px;
		color: white;
		background-color: #9bce26;
		width: 84px;	
	}
	
	tbody tr:hover {
		cursor:pointer;
		background-color:pink;
	}
</style>
<title>공지사항</title>
</head>
<body>
<div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">공지사항</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
	<div class="container">
		<h3>공지사항 목록</h3>
		<form action="/noticeList" method="get">
			<fieldset>
				<select name="type">
					<option value="T" th:selected="${noticeVO.type}=='T'">글 제목</option>				
					<option value="C" th:selected="${noticeVO.type}=='C'">글 내용</option>				
				</select>
			</fieldset>
			<input type="text" name="keyword" th:value="${noticeVO.keyword}" >
			<button type="submit">검색</button>	
		</form>	
		<table class="table">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>내용</th>
					<th>작성일</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="notice : ${noticeList}">
					<tr th:onclick="|location.href='@{/noticeInfo(noticeNo=${notice.noticeNo})}'|">
						<td th:if="${notice.imNotice == 1}" th:text="${notice.imNotice}">
						<td th:if="${notice.imNotice == 0}" th:text="${notice.noticeNo}">100</td>
						<td th:text="${notice.noticeTitle}">문의</td>
						<td th:text="${notice.noticeContent}">내용</td>
						<td th:text="${#dates.format(notice.createDate, 'yyyy년MM월dd일')}">yyyy-mm-dd</td>
						<td th:text="${notice.viewCnt}">조회수</td>
					</tr>
				</th:block>			
			</tbody>
		</table>
		<div>
			<button type="button" class="insertBtn" th:onclick="|location.href='@{/noticeInsert}'|"
			sec:authorize="hasRole('ROLE_ADMIN')"
			>등록</button>
		</div>
		
		
		<nav>
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#"><<</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">4</a></li>
				<li class="page-item"><a class="page-link" href="#">5</a></li>
				<li class="page-item"><a class="page-link" href="#">>></a></li>
			</ul>
		</nav>
	</div>
	
	
</body>
<script>

	// 글자수 10자 제한
	let content = document.querySelectorAll('tbody tr td:nth-child(3)')
	
	function textControl() {
		for(let i=0; i<content.length; i++){
			if(content[i].innerHTML.length > 10){
				content[i].innerHTML = content[i].innerHTML.substr(0, 10) + '...';
			}
		}
	}
	textControl();
	
	// 중요공지
	let imNotice = document.querySelectorAll('tbody td:nth-child(1)')
	let searchBar = document.querySelector('input[name=keyword]')
	
	function importantNotice(){
		for(let i=0; i<imNotice.length; i++){
			if(imNotice[i].innerHTML.trim() == 1){
				imNotice[i].innerHTML = '공지';
							
			}
		}
	}
	importantNotice();
	
	function search(){
		document.querySelector('input[name="keyword"]').select();
	}
	
	search();
	
	function colorChange() {
	    for(let i=0; i<imNotice.length; i++){
	        if(imNotice[i].innerHTML == '공지'){
	            let red = imNotice[i];
	            red.innerHTML = '[ ' + red.innerHTML +' ]'
	            red.style.color="blue";
	            red.style.fontWeight="bold";
	        }
	    }
	}
	
	searchBar.addEventListener('click', function(){
		if(searchBar.value != ''){
			searchBar.value = ''
		}
	})

colorChange();
</script>
</html>