<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{common/main/layouts/default_layout}"
            layout:fragment="Content">
<head>
<meta charset="UTF-8">
<style>
	.container { 
		display:flex;
		justify-content:center;
		margin-top:40px; 
	}
	
	.title{ width:423px; }
	
	.modifyBtn {
		border: none;
		padding: 10px;
		border-radius: 10px;
		color: white;
		background-color: #0ea06f;
		width: 84px;
		margin-top:20px;
		margin-left:240px;
	}
	
	table {
		border-collapse: separate;
		border-spacing: 3px 5px;
	}
	
	tr {
		line-height: 20px;
		padding:0;
		margin:0;
	}
</style>
<title>공지사항 수정</title>
</head>
<body>
	<div class="container">
		<form name="updateForm" th:object="${noticeInfo}" >
			  <table>
			   <tr>
			  	  	<th>공지분류</th>
			  	  	<td>
				  	  	<select name="imNotice" th:field=${noticeInfo.imNotice}>
				  	  		<option value="0">일반공지</option>
				  	  		<option value="1">중요공지</option>
				  	  	</select>
			  	  	</td>
			  	  </tr>
				  <tr>
			  		<tr>
			  			<th>번호</th>
			  			<td>
			  				<input type="text" th:field="${noticeInfo.noticeNo}" readonly>
			  			</td>
			  		</tr>
				    <tr>
			  			<th>제목</th>
			  		    <td>
			  		     	<input class="title" width="450px" type="text" th:field="*{noticeTitle}">
			  		     </td>
			  	    </tr>
			  	    <tr>
			  			<th>내용</th>
			  			<td>
			  				<textarea cols="50" rows="5" th:field="*{noticeContent}"></textarea>
			  			</td>
			  	    </tr>
			   	    <tr>
			  	  		<th>첨부파일</th>
			  	  		<td>
			  	  			<input type="file" id="files" name="uploadFiles" multiple>
			  	  		</td>
			  	    </tr> 
			  </table>
		<button type="button" class="modifyBtn" id="updateBtn">수정</button>
		</form>
	</div>
</body>
	<script th:inline="javascript">
		let noticeNum = /*[[${noticeInfo.noticeNo}]]*/ 
		
		$('#updateBtn').on('click', noticeUpdateAjax);
		function noticeUpdateAjax(event){
			//1) 보낼 데이터 확인
			let info = new FormData(document.updateForm);
			
			//2) AJAX
			$.ajax('noticeUpdate',{
				type:'post',
				processData : false,
				contentType : false,
				data : info
			})
			.done(data => {
				if(data.result){
					alert('정상적으로 수정되었습니다.');
					location.href="noticeInfo?noticeNo=" + noticeNum;
				}else{
					alert('수정되지 않았습니다.\n데이터를 확인해주세요.');
				}
			})
			.fail(err => console.log(err));			
		};
		
		function getNoticeInfo(){
			let formData= new FormData(document.updateForm);
			console.log('1) serializeArray', formData);
			
			let objData = {};
			$.each(formData, (idx, input) => {
				console.log('2) input', idx, input);
				objData[input.name] = input.value;
			});
			
			console.log('3) objData', objData);
			return objData;
		};
			
	</script>
</html>