<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{common/main/layouts/default_layout}"
            layout:fragment="Content"
            xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
            
<head>
<meta charset="UTF-8">
<style>
	.container{
		text-align:center;
		margin:auto;
		margin-top:40px;
		border:1px solid black;
		padding:20px;
	}
	
	.btnAll {
		margin-top:20px;
		text-align:center;
	}
	
	.container th{
		width: 100px;
	}
	
	.container td{
		width: 300px;
	}
	
	table {
		width:100%;
	}
	
	img{
		width:100%;
		height:100%;
		display:block;
	}
	
	.img{
		background-color:pink;
		display:flex;
	}
</style>
<title>공지사항 정보</title>
</head>
<body>
	<div class="container">
		<h3>공지사항 정보</h3>
		<table>
			<th:block th:each="notice : ${noticeInfo}">
				<tr class="no">
					<th>번호</th>
					<td th:text="${notice.noticeNo}">
				</tr>
				<tr class="viewCnt">
					<th>조회수</th>
					<td th:text="${notice.viewCnt}">
				</tr>
				<tr class="title">
					<th>제목</th>
					<td th:text="${notice.noticeTitle}">
				</tr>
				<tr class="regDate">
					<th>작성일</th>
					<td th:text="${#dates.format(notice.createDate, 'yyyy년MM월dd일')}">
				</tr>
				<tr class="no-content">
					<th>내용</th>
					<td style="height:100px; width:500px;" th:text="${notice.noticeContent}">
				</tr>
				<tr class="img">
					<td th:each="file : ${file}">
						<img th:src="@{/images/{fileName}(fileName=${file.filePath})}">
					</td>
				</tr>
			</th:block>
		</table>
	</div>
	
	<div class="btnAll">
		<button type="button" th:onclick="|location.href='@{/noticeUpdate(noticeNo=${noticeInfo.noticeNo})}'|" sec:authorize="hasRole('ROLE_ADMIN')">수정</button>
		<button type="button" th:onclick="|location.href='@{/noticeDelete(noticeNo=${noticeInfo.noticeNo})}'|" sec:authorize="hasRole('ROLE_ADMIN')">삭제</button>
		<button type="button" th:onclick="|location.href='@{/noticeList}'|">목록</button>
	</div>
</body>
</html>