<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talk.app.qnaReply.mapper.QnAReplyMapper">
	
	 <select id="selectQnAInfo" resultType="QnAReplyVO">
		SELECT reply_no, 
		       reply_content, 
		       regdate, 
		       qr.qna_no,
		       qna_state
		FROM qna q
    		LEFT OUTER JOIN qna_reply qr
    		ON qr.qna_no = q.qna_no
		WHERE q.qna_no = #{qnaNo} 
	</select> 
	
	<!-- 댓글 등록 -->
	<insert id="insertReplyInfo" parameterType="QnAReplyVO">
		<selectKey keyProperty="replyNo"
		           resultType="Integer"
		           order="BEFORE">
			SELECT NVL(MAX(reply_no), 0) + 1
			FROM qna_reply
	    </selectKey>
	    BEGIN
		INSERT INTO qna_reply
							(
							reply_no,
							reply_content,
							regdate,
							qna_no
							)
					 VALUES(
					 		#{replyNo},
					 		#{replyContent},
					 		sysdate,
							#{qnaNo}					 		
					 		);
					 		
		UPDATE qna SET qna_state = 1 WHERE qna_no = #{qnaNo};			 		
		
		END;
	</insert> 
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReplyInfo" parameterType="int">
		BEGIN
				UPDATE qna SET qna_state = 0 WHERE qna_no IN(
                                                SELECT qr.qna_no
                                                FROM qna_reply qr
                                                WHERE reply_no = #{replyNo}
                                            );
			DELETE FROM qna_reply
			WHERE reply_no = #{replyNo};
			
		
		END;
	</delete>
</mapper>