<!DOCTYPE html>
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment"
		  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- Spinner Start -->
    <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">

            <h3 class="m-0 text-primary">
            	<img width="50px" height="50px" src="/음성인식.png">
           	손말톡톡
           	</h3>
           	

        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
            	<a th:href="@{/videoList}" class="nav-item nav-link">영상</a>
            	<a th:href="@{/qnaList}" class="nav-item nav-link">Q&A</a>
            	<a th:href="@{/noticeList}" class="nav-item nav-link">공지사항</a>
                <a th:href="@{/posting}" class="nav-item nav-link">채용공고</a>
                <a th:href="@{/CoUserMain}" class="nav-item nav-link" sec:authorize="hasRole('ROLE_CO_USER')">마이페이지</a>
                <a th:href="@{/userMain}" class="nav-item nav-link" sec:authorize="hasRole('ROLE_USER')">마이페이지</a>
                <a th:href="@{/calendar/welfare}" class="nav-item nav-link">복지제도 일정</a>
                <a th:href="@{/login}" class="nav-item nav-link" sec:authorize="isAnonymous()">로그인</a>
                <a th:href="@{/logout}" class="nav-item nav-link" sec:authorize="isAuthenticated()">로그아웃</a>
                <a th:href="@{/signsel}" class="nav-item nav-link" sec:authorize="isAnonymous()">회원가입</a>
            </div>
            <div class="search-container d-none d-lg-block ms-3" style="margin-right: 10px">
                  <form action="/search" method="get" class="d-flex" id="formSearch">   
                    <input id="keywordinput" class="form-control me-2" type="text" placeholder="Search.." >
                    <button class="btn btn-outline-primary" type="submit" id="searchBtn">Search</button>
                  </form>  
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    
    <!-- 검색결과 모달창 -->
    <div class="searchResult" 
    	 style="border:1px solid black; display:none; 
    	        background-color:white; width:1300px; 
    	        padding:25px; left:15%; top:7%; 
    	        z-index:9999; position:fixed; 
    	        border:none; box-shadow: 0px 0px 10px gray;
    	        height:600px; overflow-y:scroll" >
    	<button type="button" class="searchCloseBtn" 
    			style="border:none; position:absolute; right:10px;
    				   background-color:white; color:gray;
    				   font-weight:bold; margin-top:-20px; 
    				   font-size:30px;
    				   "
    			>X
     	</button>
    	<table id="modalTable">
			<tr>    		
				<th>카테고리 |</th>
				<th> 검색번호 |</th>
				<th> 검색결과</th>
			</tr>
    	</table>
     	<br>
     	<p id="test"></p>
     	
    </div>
    
    <script th:inline="javascript">
    	window.onload = function(){
    		
    	  	let searchResult = document.querySelector('.searchResult')
    	  	let header = document.querySelector('header')
    	 	let main = document.querySelector('main')
    	 	let footer = document.querySelector('footer')
    	 	let searchBtn = document.querySelector('#searchBtn')
        	let searchCloseBtn = document.querySelector('.searchCloseBtn')
        	let navbar = document.querySelector('.navbar')
        	let floatMenu = document.querySelector('.floatMenu')
        	let micBtn = document.querySelector('#skitt-toggle-button') 
        	let state = 0
        	let modalResult = document.querySelector('#test')
        	let keywordinput = document.querySelector('#keywordinput')
        	
        	let formSearch = document.querySelector('#formSearch')
        	
        	formSearch.addEventListener('click', function(e){
        		console.log('search')
        		e.preventDefault();
        	})
        	
        	function searchbarClear(){
    	  		keywordinput.addEventListener('click', function(){
    	  			if(keywordinput.value != ''){
    	  				keywordinput.value = ''
    	  			}
    	  		})
    	  	}
    	  	
    	  	searchbarClear()
        	
			searchBtn.addEventListener('click', function(){
				searchAll()
				/* fetch('/search?keyword='+document.querySelector('#keywordinput').value)
    				.then(res => res.json())
    				.then(text => console.log(text)
    				)
    				.catch() */
					modalResult.innerHTML = '';
				
				
				// 상단 메뉴 검색 값 = 영상, 공지사항, 채용공고, 복지제도
    			$.ajax({
    				url: "/search?keyword=" + document.querySelector('#keywordinput').value,
    				type: "get",
    				datatype: "json",
    				success: function(data){
    					let str = JSON.stringify(data)
    					/*alert(str)*/
    					
    					$.each(data, function(index, item) {
    						
				        	if(item.searchType == 'notice') {
				        		$('#test').append(
										`<a href=/noticeInfo?noticeNo=${item.searchNo} target='_blank' style="font-weight:bold">
										${item.searchType} | ${item.searchNo} | ${item.searchResult}
										</a><hr>`)  
				        	} else if(item.searchType == 'video') {
				        		$('#test').append(
										`<a href=/videoInfo?videoNo=${item.searchNo} target='_blank' style="font-weight:bold">
										${item.searchType} | ${item.searchNo} | ${item.searchResult}
										</a><hr>`) 
				        	} else if(item.searchType == 'welfare') {
				        		$('#test').append(
										`<a href=/calendar/detail?wid=${item.searchNo} target='_blank'style="font-weight:bold">
										${item.searchType} | ${item.searchNo} | ${item.searchResult}
										</a><hr>`) 
				        	} else {
				        		$('#test').append(
										`<a href=/posting/${item.searchNo} target='_blank' style="font-weight:bold">
										${item.searchType} | ${item.searchNo} | ${item.searchResult}
										</a><hr>`) 
				        	}
					        
    						
    						/* $('#test').append(
    										`<a href="${item.searchNo}">
    										${item.searchType} | ${item.searchNo} | ${item.searchResult}
    										</a><br>`) */
    					})
    					
    				}
    			})
    			/* end of AJAX */
    			
    			/* $('#test').hover(function(){
    				$(this).css('background-color', 'pink')
    			}, function(){
    				$(this).css('background-color', 'white')
    			}) */
			})
			
			searchCloseBtn.addEventListener('click', function(){
				closeSearch()
			})
			
			
			main.addEventListener('click', function(e){
				if(state==1 && e.target != searchResult){
					closeSearch()
				}
			})
			
			footer.addEventListener('click', function(e){
				if(state == 1 && e.target != searchResult){
					closeSearch()
				}
			})
			
        	function searchAll(){
        		searchResult.style.display='block'
        		navbar.style.opacity=.2
        		main.style.opacity=.2
        		footer.style.opacity=.2
        		floatMenu.style.opacity=.2
        		micBtn.style.opacity=.2
        		state = 1
        	}
        	
        	function closeSearch(){
        		searchResult.style.display='none'
        		
        		navbar.style.opacity=1
        		main.style.opacity=1
        		footer.style.opacity=1
        		floatMenu.style.opacity=1
        		micBtn.style.opacity=1
        		state = 0
        	}	
        	
       
    	} 
    	/*end of window.onload */
    
    </script>
</th:block>