<!DOCTYPE html>
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment"
		  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- Spinner Start -->
    <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>손말톡톡</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
            	<a th:href="@{/videoList}" class="nav-item nav-link">영상</a>
            	<a th:href="@{/qnaList}" class="nav-item nav-link">Q&A</a>
            	<a th:href="@{/noticeList}" class="nav-item nav-link">공지사항</a>
                <a th:href="@{/posting}" class="nav-item nav-link">채용공고</a>
                <a th:href="@{/CoUserMain}" class="nav-item nav-link" sec:authorize="hasRole('ROLE_CO_USER')">마이페이지</a>
                <a th:href="@{/userMain}" class="nav-item nav-link" sec:authorize="hasRole('ROLE_USER')">마이페이지</a>
                <a th:href="@{/login}" class="nav-item nav-link" sec:authorize="isAnonymous()">로그인</a>
                <a th:href="@{/logout}" class="nav-item nav-link" sec:authorize="isAuthenticated()">로그아웃</a>
                <a th:href="@{/signsel}" class="nav-item nav-link" sec:authorize="isAnonymous()">회원가입</a>
                <a th:href="@{/calendar/welfare}" class="nav-item nav-link">복지제도 일정</a>
            </div>
            <div class="search-container d-none d-lg-block ms-3" style="margin-right: 10px">
                <!--<form action="/search" method="get" class="d-flex">  -->
                    <input class="form-control me-2" type="text" placeholder="Search.." name="query">
                    <button class="btn btn-outline-primary" type="submit" onclick="searchAll()">Search</button>
                <!-- </form> -->
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    
    <!-- 임시검색결과 모달창 -->
    <div class="searchResult" style="border:1px solid black; display:none; background-color:white; width:1300px; padding:30px; position:absolute; left:15%; top:30%; ">
    	<button type="button" class="searchCloseBtn" onclick="closeSearch()" style="float:right;">X</button>
    	<p>검색결과 샘플데이터1..........................</p>
    	<p>검색결과 샘플데이터2..........................</p>
    	<p>검색결과 샘플데이터3..........................</p>
    	<p>검색결과 샘플데이터4..........................</p>
    	<p>검색결과 샘플데이터5..........................</p>
    </div>
    
    <script>
    	let searchResult = $('.searchResult')
    	
    	function searchAll(){
    		searchResult.show()	
    	}
    	
    	function closeSearch(){
    		searchResult.hide()
    	}
    </script>
</th:block>